<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PDX Finder Admin Curator</title>
</head>
<body>

            <nav th:fragment="side-navigation-menu" class="navbar-default navbar-static-side" role="navigation">

                <div class="sidebar-collapse">
                    <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                        <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                                         </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Nathalie Conte</strong>
                                         </span> <span class="text-muted text-xs block">Bioinformatician  <b class="caret"></b></span> </span>
                                </a>
                            </div>
                            <div class="logo-element">
                                PDX+
                            </div>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Tool Box</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li class="active"><a href="#" class="active">Zooma Mappings</a></li>
                                <li><a href="#">PDX Finder Jira <span class="label label-primary pull-right">8</span></a></li>
                                <li><a href="#">Raw Data <span class="label label-primary pull-right">2</span></a></li>
                                <li><a href="#">Reports </a></li>
                                <li><a href="#">SOPs & Methods </a></li>
                                <li><a href="#">Finder </a></li>
                                <li><a href="#">Github </a></li>
                                <li><a href="#">Community Contacts </a></li>
                            </ul>
                        </li>
                        <li> <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Manage IRCC Data</span></a> </li>
                        <li> <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Manage JAX Data</span></a> </li>
                        <li>
                            <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">PDX Models</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="#">Mouse Models <span class="label label-primary pull-right">Catalog</span></a></li>
                                <li><a href="#">Histopathological Data</a></li>
                                <li><a href="#">Host-Mouse Metadata</a></li>
                                <li><a href="#">Genomic Data <span class="label label-primary pull-right">435</span></a></li>
                                <li><a href="#">Chemotherapeutic</a></li>
                                <li><a href="#">Image Data</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">PDX Model Request</span>  </a></li>
                        <li><a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">API Access Request</span>  </a></li>

                        <li>
                            <a href="#"><i class="fa fa-search-minus"></i> <span class="nav-label">User Search Report</span></a>
                        </li>

                        <li class="landing_link">
                            <a target="_blank" href="landing.html"><i class="fa fa-desktop"></i> <span class="nav-label">PDX Finder Website</span> </a>
                        </li>
                        <li class="special_link">
                            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Neo4j Database</span></a>
                        </li>
                    </ul>

                </div>

            </nav>



</body>
</html>