.autocomplete {
    width: 100%;
    padding: 7px;
    text-align: left;
    padding-left: 0px;
}

.autocomplete-suggestions {
    text-align: left;
    border: 1px solid rgba(3, 54, 157, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #03369D;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
