
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Curation Mappings</h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="active"  style="color:green;">
                Curation Mappings
            </li>
        </ol>
    </div>
</div>

<!-- use container or blank for small screen and col-lg-10 col-lg-offset-1 for 17 inches upwards swing tada wobble bounceIn (Up,Left,Right,Down) lightSpeedIn , flipInY, rotateInDownRight, rotateInUpLeft, slideInLeft, hinge, rollIn-->
<div class="wrapper wrapper-content animated  bounceIn">
  <div class="p-w-md m-t-sm container">


    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <a routerLink="/summary"> <img src="assets/icons/diagnosis.png" class="icon"> </a>
            <div class='text-navy pdx-singleLine'> DIAGNOSIS MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/drug.png" class="icon">
            <div class='text-navy pdx-singleLine'> DRUG MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/images.png" class="icon">
            <div class='text-navy pdx-singleLine'> ... MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/images.png" class="icon">
            <div class='text-navy pdx-singleLine'> ... MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/images.png" class="icon">
            <div class='text-navy pdx-singleLine'> ... MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/images.png" class="icon">
            <div class='text-navy pdx-singleLine'> ... MAPPINGS </div>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>