<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:remove="all" rel="stylesheet" media="screen"
          href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/chosen.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/chosen.jquery.js"></script>
    <script src="/js/pdxFinder.js"></script>
    <!--/*/ <th:block th:include="fragments/head-includes :: head-includes"></th:block> /*/-->
</head>
<body>
<div class="page-header text-center">
    <h1>Patient Derived Xenograft Finder</h1>
</div>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container">

    <h1>Get in touch with us.</h1>
    <p>
        Depending on your type of interest, choose one of the following ways to contact us.
    </p>

    <h3>Helpdesk</h3>
    <p>
        For all PDX data submission requests, questions, comments, website feedback -
        <a class="btn btn-lg btn-success" href="mailto:helpdesk@pdxfinder.org">Email
            helpdesk@pdxfinder.org</a>
    </p>

    <h3>Stay informed</h3>
    <p>
        Be informed on new PDX data upload and website releases.
        <a class="btn" href="mailto:helpdesk@pdxfinder.org">Sign
        up to the PDXFinder-announce list</a>
    </p>


</div>
<!-- /.container -->


</body>
</html>