<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/pdxFinder.js"></script>
    <!--/*/ <th:block th:include="fragments/head-includes :: bootstrap"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/head-includes :: chart"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/head-includes :: general"></th:block> /*/-->
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/scroller.js"></script>
    <title>PDX Finder</title>

</head>
<body>


<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<div class="page-header text-center shiftUp80">
    <h3>PDX Model - <span th:text="${externalId}"></span></h3>
</div>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Fullpath: /mi/pdx/pdx/34/ -->

        <style>
            dl { padding-bottom:5px;}
        </style>

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h5> Model : <span th:text="${externalId}"></span> </h5></div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clinical / Patient</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed table-hover" style="margin-bottom: 2px;">
                                    <tr><th>Patient ID</th> <td th:text="${patientId}"></td></tr>
                                    <tr><th>Gender</th>     <td th:text="${gender}"></td></tr>
                                    <tr><th>Age</th>        <td th:text="${age}"></td></tr>
                                    <tr><th>Race</th>       <td th:text="${race}"></td></tr>
                                    <tr><th>Ethnicity</th>  <td th:text="${ethnicity}"></td></tr>
                                    <tr><th>&nbsp;</th>                 <td>&nbsp;</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 noPaddingLeft">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clinical / Tumor</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed table-hover" style="margin-bottom: 2px;">
                                    <tr><th>Histology</th>                  <td><span th:text="${diagnosis}"></span> <i class="hdc" th:text="${' (mapped to: '+mappedOntology+')'}"></i> </td></tr>
                                    <tr><th>Ontology Mapping</th>           <td th:text="${mappedOntology}"></td></tr>
                                    <tr><th>Primary Tissue</th>             <td th:text="${originTissue}"></td></tr>
                                    <tr><th>Collection Tissue</th>          <td th:text="${sampleSite}"></td></tr>
                                    <tr><th>Tumor type</th>                 <td th:text="${tumorType}"></td></tr>
                                    <tr><th>Classification</th>             <td th:text="${classification}"></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">PDX model creation</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed table-hover" style="margin-bottom: 2px;">
                                    <tr><th>Sample type</th>            <td th:text="${sampleType}"></td></tr>
                                    <tr><th>Strain</th>                 <td th:text="${strain}"></td></tr>
                                    <tr><th>Engraftment site</th>       <td th:text="${engraftmentSite}"></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>





                    <style> table *{ -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}</style>
                    <div class="col-md-12 javaScriptBrowser">

                        <div class="panel panel-info" th:if="${totalRecords > 0}" >
                            <div class="panel-heading">
                                <h3 class="panel-title">PDX model studies - <span th:text="${totalRecords}"></span> entries</h3>
                            </div>
                        </div>


                        <div class="tab" role="tabpanel" th:if="${patientInfo.size() > 0}" >
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li th:each="technology,iter : ${patientInfo}"
                                    th:class="( ${iter.index} == 0 ) ? 'active' : '' "
                                    role="presentation">

                                    <a th:href="@{'#'+${technology.key}}"
                                       th:text="${technology.key}+' Platform'" role="tab" data-toggle="tab" onclick="showTabs()"> TAB TITLES </a>

                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div th:each="technology,iter : ${patientInfo}"
                                     th:id="${technology.key}"
                                     class="tab-pane active"  role="tabpanel">

                                                <span>
                                                        <div class="table-responsive" th:classappend="( ${iter.index} == 0 ) ? 'showContent' : 'hideContent' ">

                                                            <h4 class="bLine">
                                                                <span class="hdc">Tumour Type: </span>            <i>Patient Tumor</i>                  &nbsp; &nbsp;
                                                                <span class="hdc">Histology:</span> <i th:text="${#strings.capitalize(diagnosis)}"></i>     &nbsp; &nbsp;
                                                                <span class="hdc">Grade: </span>  <i></i>
                                                            </h4>

                                                            <table id="pdxFinder-grid"
                                                                   class="table  table-striped table-borderedPdx table-hover">

                                                                <thead>
                                                                <tr>
                                                                    <th>Sample </th>
                                                                    <th>Platform(s)</th>
                                                                    <th>Chromosome</th>
                                                                    <th>Seq. Position</th>
                                                                    <th>Ref. Allele</th>
                                                                    <th>Alt. Allele</th>
                                                                    <th>Consequence</th>
                                                                    <th>Gene</th>
                                                                    <th>Amino Acid Change</th>
                                                                    <th>Read Depth</th>
                                                                    <th>Allele Freq.</th>
                                                                    <th>RS Variants</th>
                                                                </tr>
                                                                </thead>
                                                            </table>
                                                        </div>

                                                </span>

                                </div>
                            </div>
                        </div>



                        <div class="tab" role="tabpanel" th:if="${modelInfo.size() > 0}">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li th:each="technology,iter : ${modelInfo}"
                                    th:class="( ${iter.index} == 0 ) ? 'active' : '' "
                                    role="presentation">

                                    <a th:href="@{'#'+${technology.key}}"
                                       th:text="${technology.key}+' Platform'" role="tab" data-toggle="tab" onclick="showTabs()"> TAB TITLES </a>

                                </li>
                            </ul>


                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div th:each="technology,iter : ${modelInfo}"
                                     th:id="${technology.key}"
                                     class="tab-pane active"  role="tabpanel">

                                                    <span th:unless="${technology.value.size()<1}" th:each="num: ${#numbers.sequence(1,technology.value.size())}"> <!--/* Unable to capture index for inner loop so, this was used for innerloop : <tr th:each="passageList : ${technolog[y.value]}"> */-->

                                                            <div class="table-responsive" th:classappend="( ${iter.index} == 0 ) ? 'showContent' : 'hideContent' ">

                                                                <h4 class="bLine" th:classappend="( ${num} == 1 ) ? '' : 'topSpace50' ">
                                                                    <span class="hdc">Tumour Type: </span>            <i>Xenograft Tumor</i>                  &nbsp; &nbsp;
                                                                    <span class="hdc">Histology:</span> <i th:text="${#strings.capitalize(diagnosis)}"></i>     &nbsp; &nbsp;
                                                                    <span class="hdc">Passage: </span>  <i th:text="${technology.value[num-1]}"></i>
                                                                </h4>

                                                                <table th:id="'pdxFinder-grid'+${#strings.replace(technology.key,' ','-')}+${num}"
                                                                       class="table  table-striped table-borderedPdx table-hover"> <!-- table-condensed -->


                                                                    <thead>
                                                                    <tr>
                                                                        <th>Sample </th>
                                                                        <th>Platform(s)</th>
                                                                        <th>Chromosome</th>
                                                                        <th>Seq. Position</th>
                                                                        <th>Ref. Allele</th>
                                                                        <th>Alt. Allele</th>
                                                                        <th>Consequence</th>
                                                                        <th>Gene</th>
                                                                        <th>Amino Acid Change</th>
                                                                        <th>Read Depth</th>
                                                                        <th>Allele Freq.</th>
                                                                        <th>RS Variants</th>
                                                                    </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>

                                                    </span>

                                </div>
                            </div>

                        </div>


                    </div>






                    <noscript>

                        <div class="col-md-12">



                            <div class="panel panel-info" style="height:850px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">PDX model studies - <span th:text="${totalRecords}"></span> entries</h3>
                                </div>


                                <div class="nonjs-tab" th:if="${not #lists.isEmpty(nonjsVariationdata)}" style="margin-top: 15px">


                                    <th:block th:each="variationDataSet,iter : ${nonjsVariationdata}">

                                        <input type="radio" name="tab"
                                               th:id="'tab'+${iter.index}"
                                               th:checked="${iter.index == 0} ? 'checked' "/>

                                        <label th:for="'tab'+${iter.index}"
                                               th:text="${variationDataSet.data[0][1]}+' Platform'"> TAB TITLES </label>


                                        <div class='tab-body'>

                                            <div class="panel-body" style="margin-top:-6px; ">
                                                <div class="table-responsive">
                                                    <table class="table table-condensed table-striped table-borderedPdx table-hover" >

                                                        <thead>
                                                        <tr>
                                                            <th>Sample</th>
                                                            <th>Chromosome</th>
                                                            <th>Seq. Position</th>
                                                            <th>Ref. Allele</th>
                                                            <th>Alt. Allele</th>
                                                            <th>Consequence</th>
                                                            <th>Gene</th>
                                                            <th>Amino Acid Change</th>
                                                            <th>Read Depth</th>
                                                            <th>Allele Freq.</th>
                                                            <th>RS Variants</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                        <tr th:each="vData :${variationDataSet.data}">
                                                            <td th:text="${vData[0]}"> ... </td>
                                                            <td th:text="${vData[2]}"> ... </td>
                                                            <td th:text="${vData[3]}"> ... </td>
                                                            <td th:text="${vData[4]}"> ... </td>
                                                            <td th:text="${vData[5]}"> ... </td>
                                                            <td th:text="${vData[6]}"> ... </td>
                                                            <td th:text="${vData[7]}"> ... </td>
                                                            <td th:text="${vData[8]}"> ... </td>
                                                            <td th:text="${vData[9]}"> ... </td>
                                                            <td th:text="${vData[10]}"> ... </td>
                                                            <td th:text="${vData[11]}"> ... </td>
                                                        </tr>

                                                        </tbody>



                                                        <!--<tbody>
                                                        <tr th:if="${#lists.isEmpty(variationData)}">
                                                            <td></td>
                                                        </tr>
                                                        <th:block th:each="variationDataSet :${variationData}">

                                                            <tr th:each="vData :${variationDataSet}">
                                                                <td th:text="${specimenId}"> ... </td>
                                                                <td th:text="${technology}"> ... </td>
                                                                <td th:text="${vData.chromosome}"> ... </td>
                                                                <td th:text="${vData.seqPosition}"> ... </td>
                                                                <td th:text="${vData.refAllele}"> ... </td>
                                                                <td th:text="${vData.altAllele}"> ... </td>
                                                                <td th:text="${vData.consequence}"> ... </td>
                                                                <td th:text="${vData.marker.symbol}"> ... </td>
                                                                <td th:text="${vData.aminoAcidChange}"> ... </td>
                                                                <td th:text="${vData.readDepth}"> ... </td>
                                                                <td th:text="${vData.alleleFrequency}"> ... </td>
                                                                <td th:text="${diagnosis}"> ... </td>
                                                                <td th:text="${vData.rsVariants}"> ... </td>
                                                            </tr>

                                                        </th:block>
                                                        </tbody>-->

                                                    </table>
                                                </div>

                                                <!--/*<p th:each="i: ${#numbers.sequence(0, (list.size() / 4) - 1)}">
                                                    <span th:each="j: ${#numbers.sequence(i * 4, i * 4 + 3)}" th:if="${list.size() gt j}" th:text="${list.get(j)} + ', '"></span>
                                                </p>*/-->

                                                <div style="text-align: center;">
                                                    <div th:if="${not #lists.isEmpty(variationData)}">

                                                        <ul class="pagination pagination-pdxFinder">
                                                            <th:block th:unless="${totalPages<1}" th:each="num: ${#numbers.sequence(1,totalPages)}">

                                                                <li th:if="${num==1 && presentPage!=1}">
                                                                    <a th:href="@{'?page='+${presentPage-1}}"> << Previous </a>
                                                                </li>


                                                                <th:block th:if="${presentPage<5 && num<=5}">
                                                                    <li th:class="( ${num} == ${presentPage} ) ? 'active' : '' ">
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Page Number </a>
                                                                    </li>
                                                                </th:block>


                                                                <th:block th:if="${presentPage>=5 && num==1}">
                                                                    <li>
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Page Number </a>
                                                                    </li>
                                                                    <li>
                                                                        <a disabled> . . . </a>
                                                                    </li>
                                                                    <li>
                                                                        <a th:href="@{'?page='+${presentPage-1}}" th:text="${presentPage-1}"> Page Number </a>
                                                                    </li>
                                                                    <li class="active">
                                                                        <a  th:href="@{'?page='+${presentPage}}" th:text="${presentPage}"> Page Number </a>
                                                                    </li>
                                                                    <li th:if="${presentPage<totalPages}">
                                                                        <a th:href="@{'?page='+${presentPage+1}}" th:text="${presentPage+1}"> Page Number </a>
                                                                    </li>
                                                                </th:block>


                                                                <th:block th:if="${presentPage<totalPages-1 && num==totalPages && totalPages > 4 }">
                                                                    <li  th:if="${presentPage<totalPages-2}" th:class="active">
                                                                        <a disabled> . . . </a>
                                                                    </li>
                                                                    <li th:class="( ${num} == ${presentPage} ) ? 'active' : '' ">
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Last Page </a>
                                                                    </li>
                                                                    <li>
                                                                        <a th:href="@{'?page='+${presentPage+1}}"> Next >> </a>
                                                                    </li>
                                                                </th:block>


                                                            </th:block>
                                                        </ul>

                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </th:block>



                                </div>


                            </div>




















                            <!--<div class="panel panel-info" style="height:850px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">PDX model studies - <span th:text="${totalRecords}"></span> entries</h3>
                                </div>


                                <div class="nonjs-tab" th:if="${modelInfo.size() > 0}" style="margin-top: 15px">

                                    <th:block th:each="technology,iter : ${modelInfo}">

                                        <input type="radio" name="tab" th:id="'tab'+${iter.index}" th:checked="${iter.index == 0} ? 'checked' "/>
                                        <label th:for="'tab'+${iter.index}" th:text="${technology.key}+' Platform'"> TAB TITLES </label>

                                        <div class='tab-body'>

                                            <div class="panel-body" style="margin-top:-6px; ">
                                                <div class="table-responsive">
                                                    <table class="table table-condensed table-striped table-borderedPdx table-hover" >

                                                        <thead>
                                                        <tr>
                                                            <th>Sample</th>
                                                            <th>Platform(s)</th>
                                                            <th>Chromosome</th>
                                                            <th>Seq. Position</th>
                                                            <th>Ref. Allele</th>
                                                            <th>Alt. Allele</th>
                                                            <th>Consequence</th>
                                                            <th>Gene</th>
                                                            <th>Amino Acid Change</th>
                                                            <th>Read Depth</th>
                                                            <th>Allele Freq.</th>
                                                            <th>Disease</th>
                                                            <th>RS Variants</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr th:if="${#lists.isEmpty(variationData)}">
                                                            <td></td>
                                                        </tr>
                                                        <th:block th:each="variationDataSet :${variationData}">

                                                            <tr th:each="vData :${variationDataSet}">
                                                                <td th:text="${specimenId}"> ... </td>
                                                                <td th:text="${technology}"> ... </td>
                                                                <td th:text="${vData.chromosome}"> ... </td>
                                                                <td th:text="${vData.seqPosition}"> ... </td>
                                                                <td th:text="${vData.refAllele}"> ... </td>
                                                                <td th:text="${vData.altAllele}"> ... </td>
                                                                <td th:text="${vData.consequence}"> ... </td>
                                                                <td th:text="${vData.marker.symbol}"> ... </td>
                                                                <td th:text="${vData.aminoAcidChange}"> ... </td>
                                                                <td th:text="${vData.readDepth}"> ... </td>
                                                                <td th:text="${vData.alleleFrequency}"> ... </td>
                                                                <td th:text="${diagnosis}"> ... </td>
                                                                <td th:text="${vData.rsVariants}"> ... </td>
                                                            </tr>

                                                        </th:block>
                                                        </tbody>

                                                    </table>
                                                </div>


                                                <div style="text-align: center;">
                                                    <div th:if="${not #lists.isEmpty(variationData)}">

                                                        <ul class="pagination pagination-pdxFinder">
                                                            <th:block th:unless="${totalPages<1}" th:each="num: ${#numbers.sequence(1,totalPages)}">

                                                                <li th:if="${num==1 && presentPage!=1}">
                                                                    <a th:href="@{'?page='+${presentPage-1}}"> << Previous </a>
                                                                </li>


                                                                <th:block th:if="${presentPage<5 && num<=5}">
                                                                    <li th:class="( ${num} == ${presentPage} ) ? 'active' : '' ">
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Page Number </a>
                                                                    </li>
                                                                </th:block>


                                                                <th:block th:if="${presentPage>=5 && num==1}">
                                                                    <li>
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Page Number </a>
                                                                    </li>
                                                                    <li>
                                                                        <a disabled> . . . </a>
                                                                    </li>
                                                                    <li>
                                                                        <a th:href="@{'?page='+${presentPage-1}}" th:text="${presentPage-1}"> Page Number </a>
                                                                    </li>
                                                                    <li class="active">
                                                                        <a  th:href="@{'?page='+${presentPage}}" th:text="${presentPage}"> Page Number </a>
                                                                    </li>
                                                                    <li th:if="${presentPage<totalPages}">
                                                                        <a th:href="@{'?page='+${presentPage+1}}" th:text="${presentPage+1}"> Page Number </a>
                                                                    </li>
                                                                </th:block>


                                                                <th:block th:if="${presentPage<totalPages-1 && num==totalPages && totalPages > 4 }">
                                                                    <li  th:if="${presentPage<totalPages-2}" th:class="active">
                                                                        <a disabled> . . . </a>
                                                                    </li>
                                                                    <li th:class="( ${num} == ${presentPage} ) ? 'active' : '' ">
                                                                        <a th:href="@{'?page='+${num}}" th:text="${num}"> Last Page </a>
                                                                    </li>
                                                                    <li>
                                                                        <a th:href="@{'?page='+${presentPage+1}}"> Next >> </a>
                                                                    </li>
                                                                </th:block>


                                                            </th:block>
                                                        </ul>

                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </th:block>



                                </div>


                            </div>-->


                        </div>
                    </noscript>








                </div>


            </div>





            <br/>
            <th:block th:if="${urlText != 'Unknown source'}"  >
            <a class="btn btn-lg btn-success" th:href="${url}" th:text="${urlText}"> For more information please visit <i class="fa fa-external-link"></i></a>
            </th:block>

        </div>
    </div>





</div>



</div>






<script type="text/javascript" language="javascript" th:inline="javascript">

    document.getElementsByClassName("javaScriptBrowser")[0].style.display = "block";
    //document.getElementsByClassName("javaScriptBrowser")[1].style.display = "block";
    var modelId = [[${externalId}]];
    var dataSrc = [[${dataSrc}]];



    $(document).ready(function() {

        var modelInfo = [[${modelInfo}]];

        var apiURL = "/patientdata/"+dataSrc+"/"+modelId;
        drawTable("pdxFinder-grid",apiURL);

        for (var tech in modelInfo){

            console.log(tech); var counter=1;
            for (var passage in modelInfo[tech]){

                console.log(modelInfo[tech][passage]);

                var dTech = tech.replace(" ", "-");
                console.log(dTech);

                apiURL = "/modeldata/"+dataSrc+"/"+modelId+"?platform="+tech+"&passage="+modelInfo[tech][passage];

                var tableId = "pdxFinder-grid"+dTech+counter;
                drawTable(tableId,apiURL);

                console.log(tableId);
                console.log(apiURL);
                counter++;
            }
        }


    } );



    // We define the function
    function drawTable(tableId,apiURL){

        var dataTable =  $('#'+tableId).DataTable( {
            serverSide: true,
            ajax:{
                url :apiURL, // json datasource
                type: "post",  // method  , by default get
                error: function(){  // error handling
                    $(".pdxFinder-grid-error").html("");
                    $("#"+tableId).append('<tbody class="pdxFinder-grid-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
                    $("#pdxFinder-grid_processing").css("display","none");
                }
            },
            dom: "frtiS",
            scrollY: 300,
            scrollX: true,
            deferRender: true,
            responsive: true,
            bAutoWidth: true,
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            }
        } );
    }

    function showTabs() {

        for (var i=0; i<5; i++) {
            document.getElementsByClassName("hideContent")[i].style.position = "static";
        }
    }


</script>
</body>
</html>



