<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${data.dataSource}+' PDX model '+${data.modelId}+ ' details - PDX Finder'"></title>
    <meta name="description" th:content="'Model details for PDX '+${data.modelId}+', produced by '+${data.dataSource}"/>
    <meta name="keywords"
          th:content="'Patient Derived Xenograft, PDX, PDX Finder, Cancer, Oncology, Life Sciences, '+${data.dataSource}"/>
    <meta name="author" content="PDX Finder"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-16x16.png?v=1">
    <link rel="manifest" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/manifest.json?v=1">
    <link rel="mask-icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/safari-pinned-tab.svg?v=1"
          color="#0032a0">
    <link rel="shortcut icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon.ico?v=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <meta name="apple-mobile-web-app-title" content="PDX Finder">
    <meta name="application-name" content="PDX Finder">
    <meta name="msapplication-config"
          content="https://ebiwd.github.io/pdx-visual-framework/images/favicons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#0032a0">

    <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css"
          type="text/css" media="all"/>

    <link rel="stylesheet"
          href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/styles/css/choices.min.css">

    <link rel="stylesheet" th:href="@{/css/app.min.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/customStyles.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/icons/foundation-icons.css}" type="text/css" media="all"/>

    <!-- end CSS-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/scroller.js}"></script>

    <!--/*/ <th:block th:include="fragments/shared :: header"></th:block> /*/-->

</head>

<body class="level2">

<div content="content-wrapper">
    <div id="skip-to">
        <a href="#content">Skip to main content</a>
    </div>

    <div id="content">


        <!--/*/ <th:block th:include="fragments/shared :: menu"></th:block> /*/-->

        <!-- Suggested layout containers -->
        <section id="main-content-area" role="main">

            <div class="row">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs columns">
                        <li><a href="/">Home</a></li>
                        <li>
                            Details
                        </li>
                        <li>
                            <span class="show-for-sr">Current: </span> <span th:text="${data.modelId}">Model ID</span>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Three Grids Section-->
            <section>
                <div class="row">

                    <div class="columns medium-4 small-12 margin-top-30">
                        <h4 class="pdxBig"><span class="float-left border-color-black"
                                                 th:text="${data.modelId+': '+data.mappedOntology}"></span></h4>
                    </div>

                    <div class="columns medium-4 small-12 margin-top-30">
                        <h4 class="pdxBig black"><span class="float-left" th:text="${data.sourceDescription}"> The Jackson Laboratory </span>
                        </h4>
                    </div>

                    <div class="columns medium-4 small-12 margin-top-10">

                        <a th:href="@{'mailto:'+${data.contacts+'?subject='+data.modelId}}"
                           th:if="${#strings.contains(data.contacts,'@')}">
                            <h4 class="button more uppercase margin-top-large minwidth300">Contact Provider</h4>
                        </a>
                        <a th:href="@{${data.contacts+data.modelId}}" th:target="_blank"
                           th:if="${#strings.contains(data.contacts,'http') && #strings.endsWith(data.contacts,'=')}">
                            <h4 class="button more uppercase margin-top-large minwidth300">Contact Provider</h4>
                        </a>
                        <a th:href="@{${data.contacts}}" th:target="_blank"
                           th:if="${#strings.contains(data.contacts,'http') && not #strings.endsWith(data.contacts,'=')}">
                            <h4 class="button more uppercase margin-top-large minwidth300">Contact Provider</h4>
                        </a>

                        <a th:href="@{${data.externalUrl}}" th:target="_blank" th:if="${#strings.contains(data.externalUrl,'http')}">
                            <h4 class="button outline uppercase margin-top-large minwidth300 shiftUp10"
                                th:text="${data.externalUrlText}">View at Provider</h4>
                        </a>

                    </div>
                </div>
            </section>
            <hr class="margin-vertical-20 line_v2">


            <!-- Tabs Section -->
            <section class="row large-10 medium-12 expanded" id="detailsData">

                <div class="row large-12 medium-12 expanded">
                    <ul class="tabs style-2"   data-deep-link="true" data-tabs id="example2-tabs">
                        <li class="tabs-title is-active"><a href="#summary" aria-selected="true">Summary</a></li>
                        <li class="tabs-title "><a href="#variation" id="variation_data_link" onclick="showTabs('0')"> Genomic Data
                            (<span th:text="${data.variationDataCount}"></span>) </a></li>

                        <li th:if="${data.drugSummaryRowNumber} == 0" class="tabs-title"><a href="#dosing_studies">Dosing studies (0)</a></li>
                        <li th:if="${data.drugSummaryRowNumber} > 0" class="tabs-title"><a href="#dosing_studies">Dosing studies (1)</a></li>

                    </ul>
                </div>

                <div class="tabs-content style-2" data-tabs-content="example2-tabs">
                    <div class="tabs-panel is-active" id="summary">


                        <!-- Summary first row -->
                        <div class="row large-12 medium-12 expanded">

                            <div class="columns medium-12 small-12 margin-top-30">
                                <div class="responsive-table">
                                    <table class="datatable-pdx table-borderedPdx pdx-table head-left">
                                        <thead>
                                        <tr>
                                            <th colspan="2"> Patient</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <th class="text-left medium-4">Sex</th>
                                            <td th:text="${data.gender}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Age at Time of Collection</th>
                                            <td th:text="${data.ageAtCollection}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Race / Ethnicity</th>
                                            <td>
                                                <span th:text="${data.race}"></span>
                                                <span th:if="${not ( #strings.isEmpty(data.race) || #strings.isEmpty(data.ethnicity) ) }"> / </span>
                                                <span th:text="${data.ethnicity}"></span>
                                            </td>
                                        </tr>
                                        <tr th:if="${not #lists.isEmpty(data.relatedModels)}">
                                            <th class="text-left">Related models</th>
                                            <td><span th:each="relMod:${data.relatedModels}"><a th:text="${relMod}"
                                                                                           th:href="@{'/pdx/'+${data.dataSource}+'/'+${relMod}}"></a> </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="columns medium-12 small-12 margin-top-medium">
                                <div class="responsive-table">
                                    <table class="datatable-pdx table-borderedPdx pdx-table head-left">
                                        <thead>
                                        <tr>
                                            <th colspan="2"> Patient Tumor</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <th class="text-left medium-4">Histology</th>
                                            <td class="text-left"><span th:text="${data.mappedOntology}"></span></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Primary Tissue</th>
                                            <td class="text-left" th:text="${data.originTissue}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Collection Site</th>
                                            <td class="text-left" th:text="${data.sampleSite}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Tumor Type</th>
                                            <td class="text-left" th:text="${data.tumorType}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Stage / Grade</th>
                                            <td th:if="${#strings.equals(data.classification, '/')}"
                                                th:text="${'Not Available'}"></td>
                                            <td th:if="${not #strings.equals(data.classification, '/')}"
                                                th:text="${#strings.endsWith(data.classification,'/')} ? ${ #strings.substringBefore(data.classification,'/') } : ${data.classification} "></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                            <div class="columns medium-12 small-12 margin-top-medium">
                                <div class="responsive-table">
                                    <table class="datatable-pdx table-borderedPdx pdx-table head-left">
                                        <thead>
                                        <tr>
                                            <th colspan="2">PDX model</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <th class="text-left medium-4">Strain</th>
                                            <td class="text-left" th:text="${data.strain}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Engraftment Site</th>
                                            <td th:text="${data.engraftmentSite}"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Implantation Material</th>
                                            <td th:text="${data.sampleType}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="columns medium-12 small-12 margin-top-medium">
                                <div class="responsive-table">
                                    <table class="datatable-pdx table-borderedPdx pdx-table head-left">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Model quality control</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <th class="text-left medium-4">Technology</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Description</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="text-left medium-4">Passages</th>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>


                    </div>



                    <div class="tabs-panel is-active" id="variation">

                        <p>
                        <div class="row large-12 medium-12 expanded" id="variationTableData">

                            <!-- Start of Patient variation data -->
                            <div class="tab" role="tabpanel" th:if="${data.patientTech.size() > 0}">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li th:each="technology,iter : ${data.patientTech}"
                                        th:class="( ${iter.index} == 0 ) ? 'active' : '' "
                                        role="presentation">

                                        <a th:href="@{'#'+${technology.key}}"
                                           th:text="${technology.key}+' Platform'" role="tab" data-toggle="tab"
                                           th:onclick="'showTabs('+${iter.index}+')'"> TAB TITLES </a>

                                    </li>
                                </ul>



                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div th:each="technology,iter : ${data.patientTech}"
                                         th:id="${technology.key}"
                                         class="tab-pane active" role="tabpanel">


                                                <span>
                                                        <div class="table-responsive" th:classappend="( ${iter.index} == 0 ) ? 'hideContent' : 'hideContent' ">

                                                            <b class="bLine">
                                                                <span class="hdc">Tumor Type: </span>            <i>Patient Tumor</i>                  &nbsp; &nbsp;
                                                                <span class="hdc">Histology:</span> <i
                                                                    th:text="${#strings.capitalize(data.diagnosis)}"></i>     &nbsp; &nbsp;
                                                                <span class="hdc">Grade: </span>  <i></i>
                                                            </b>

                                                            <table id="pdxFinder-grid"
                                                                   class="unstriped pdx-table"> <!-- table-striped table-borderedPdx table-hover -->

                                                                <thead>
                                                                <tr>
                                                                    <th>Sample </th>
                                                                    <th>Platform(s)</th>
                                                                    <th>Chromosome</th>
                                                                    <th>Seq. Position</th>
                                                                    <th>Ref. Allele</th>
                                                                    <th>Alt. Allele</th>
                                                                    <th>Consequence</th>
                                                                    <th>Gene</th>
                                                                    <th>Amino Acid Change</th>
                                                                    <th>Read Depth</th>
                                                                    <th>Allele Freq.</th>
                                                                    <th>RS Variants</th>
                                                                </tr>
                                                                </thead>
                                                            </table>
                                                        </div>

                                                </span>

                                    </div>
                                </div>

                            </div>
                            <!-- End of Patient Variation Data -->


                            <!-- Start of Xenograft Variation data-->
                            <div class="tab hideContent0" role="tabpanel" th:if="${data.modelTechAndPassages.size() > 0}">

                                <!-- Tab panes --><strong></strong>
                                <div class="tabs-content" data-tabs-content="example-tabs">

                                    <div id="sizeSwitch">
                                        <a th:href="@{'/pdx/'+${data.dataSource}+'/'+${data.modelId}+'/export'}" class="button outline secondary">
                                            Export Results <i class="icon icon-functional" data-icon="="></i> </a>
                                    </div>

                                    <ul class="tabs" data-tabs id="example-tabs">
                                        <li th:each="technology,iter : ${data.modelTechAndPassages}"
                                            class="tabs-title" th:classappend="( ${iter.index} == 0 ) ? 'is-active' : '' ">

                                            <a th:href="@{'#'+${technology.key}}"
                                               data-th-attr="data-tabs-target=${technology.key},  aria-selected=( ${iter.index} == 0 ) ? 'true' : '' "
                                               th:text="${technology.key}+' Platform'" th:onclick="'showTabs('+${iter.index}+')'"> TAB TITLES </a>

                                        </li>
                                    </ul>

                                    <div th:each="technology,iter : ${data.modelTechAndPassages}"
                                         th:id="${technology.key}"
                                         class="tabs-panel is-active"
                                         th:classappend=" 'hideContent'+${iter.index} ">

                                                    <span th:unless="${technology.value.size()<1}"
                                                          th:each="num: ${#numbers.sequence(1,technology.value.size())}"> <!--/* Unable to capture index for inner loop so, this was used for innerloop : <tr th:each="passageList : ${technolog[y.value]}"> */-->

                                                            <div class="table-responsive">

                                                                <h4 class="bLine"
                                                                    th:classappend="( ${num} == 1 ) ? '' : 'topSpace50' ">

                                                                    <span class="hdc">Sample ID: </span>

                                                                    <b class="black"
                                                                       th:text="${data.techNPassToSampleId['__${technology.key}__'+'__${technology.value[num-1]}__']}"></b>    &nbsp; &nbsp;

                                                                    <span class="hdc">Histology:</span> <b class="black"
                                                                                                           th:text="${#strings.capitalize(data.diagnosis)}"></b>     &nbsp; &nbsp;
                                                                    <span class="hdc">Tumor Type: </span>
                                                                    <b class="black">Xenograft Tumor</b>                  &nbsp; &nbsp;
                                                                    <span class="hdc">Passage: </span>  <b class="black"
                                                                                                           th:text="${technology.value[num-1]}"></b>     &nbsp; &nbsp;
                                                                    <span class="hdc">Platform: </span>

                                                                        <span th:if="${data.platformsAndUrls[__${technology.key}__] != null}">
                                                                            <a th:href="${data.platformsAndUrls[__${technology.key}__]}" th:text="${technology.key}"></a>
                                                                        </span>

                                                                        <span th:if="${data.platformsAndUrls[__${technology.key}__] == null}">
                                                                            <b class="black" th:text="${technology.key}"></b>
                                                                        </span>

                                                                </h4>

                                                                <table th:id="'pdxFinder-grid'+${#strings.replace(technology.key,' ','-')}+${num}"
                                                                       id="example-datatable"
                                                                       class="table display datatable-pdx table-borderedPdx"
                                                                       th:height="50" width="100%">

                                                                    <thead>
                                                                    <tr>
                                                                        <th>Sample </th>
                                                                        <th>Chromosome</th>
                                                                        <th>Seq. Position</th>
                                                                        <th>Ref. Allele</th>
                                                                        <th>Alt. Allele</th>
                                                                        <th>Consequence</th>
                                                                        <th>Gene</th>
                                                                        <th>Amino Acid Change</th>
                                                                        <th>Read Depth</th>
                                                                        <th>Allele Freq.</th>
                                                                        <th>RS Variants</th>
                                                                    </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>

                                                    </span>

                                    </div>
                                </div>

                            </div>
                            <!-- End of Xenograft Variation data -->


                        </div>
                        </p>

                    </div>

                    <div class="tabs-panel" id="dosing_studies">
                        <div th:if="${not #lists.isEmpty(data.drugSummary)}">
                            <p>

                            <div th:if="${data.drugProtocolUrl} != null" class="drug_spacing">
                                <a th:href="${data.drugProtocolUrl}" >Dosing study protocol</a>
                            </div>

                            <table class="datatable-pdx pdx-table table-borderedPdx head-left">
                                <thead>
                                <th>Drug</th>
                                <th>Dose</th>
                                <th>Response</th>
                                </thead>
                                <tbody>
                                <tr th:each="drugData, iter : ${data.drugSummary}">
                                    <td th:text="${drugData.drugName}"></td>
                                    <td th:text="${drugData.dose}"></td>
                                    <td th:text="${drugData.response}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </p>
                        </div>

                        <div th:if="${#lists.isEmpty(data.drugSummary)}"></div>
                    </div>


                </div>


            </section>


        </section>

    </div>
    <!-- End suggested layout containers / #content -->


    <!--/*/ <th:block th:include="fragments/shared :: footer"></th:block> /*/-->


</div>
<!-- JavaScript -->

<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/scripts/dist/choices.min.js"></script>
<script src="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.highlightRegex/0.1.2/highlightRegex.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<!--<script th:src="@{/js/main.js}"></script>-->


<script type="text/javascript" language="javascript" th:inline="javascript">

    var modelId = [[${data.modelId}]];
    var dataSrc = [[${data.dataSource}]];
    jQuery(document).ready(function () {
        console.log("ready");
        var modelInfo = [[${data.modelTechAndPassages}]];
        var apiURL = "/data/patientdata/" + dataSrc + "/" + modelId;


        drawTable("pdxFinder-grid", apiURL);
        for (var tech in modelInfo) {
            //console.log(tech);

            var counter = 1;
            for (var passage in modelInfo[tech]) {
                //console.log(modelInfo[tech][passage]);
                var dTech = tech.replace(" ", "-");
                //console.log(dTech);
                apiURL = "/data/modeldata/" + dataSrc + "/" + modelId + "?platform=" + tech + "&passage=" + modelInfo[tech][passage];
                var tableId = "pdxFinder-grid" + dTech + counter;
                drawTable(tableId, apiURL);
                //console.log(tableId);
                console.log(apiURL);
                counter++;
            }

        }
    });

    // We define the function
    function drawTable(tableId, apiURL) {

        var l = jQuery("#tableId tr").length;
        console.log(tableId + " " + l);

        var dataTable = $('#' + tableId).DataTable({
            iDisplayLength: 10,
            serverSide: true,
            ajax: {
                url: apiURL, // json datasource
                type: "post",  // method  , by default get

                error: function () {  // error handling
                    $(".pdxFinder-grid-error").html("");
                    $("#" + tableId).append('<tbody class="pdxFinder-grid-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
                    $("#pdxFinder-grid_processing").css("display", "none");
                }
            },

            dom: "frtiS",
            scrollY: 350,
            scrollX: true,
            deferRender: true,
            responsive: true,
            bAutoWidth: true,
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true,
                rowHeight: 30
            }

        });

        $(window).bind('resize', function () {
            dataTable.fnAdjustColumnSizing();
        });
    }


    function showTabs(cnt) {
        for (var i = 0; i < 5; i++) {
            document.getElementsByClassName("hideContent"+cnt)[i].style.position = "static";
        }
    }

    // Check if variation tab is deeplinked on page load:
    $(document).ready(function(){
        var hash = window.location.hash;

        if (hash == "#variation"){
            for (var i = 0; i < 5; i++) {
                document.getElementsByClassName("hideContent0")[i].style.position = "static";
            }
        }
    });





</script>

</body>
</html>
