<html xmlns:th="http://www.thymeleaf.org">
<head>
 <link th:remove="all" rel="stylesheet" media="screen"
          href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/pdxFinder.js"></script>
    <title>PDX Finder</title>
    <!--/*/ <th:block th:include="fragments/head-includes :: head-includes"></th:block> /*/-->
</head>
<body>


<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<div class="page-header text-center shiftUp80">
    <h2>Patient Derived Xenograft Finder</h2>
</div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Fullpath: /mi/pdx/pdx/34/ -->

        <style>
            dl { padding-bottom:5px;}
        </style>

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h5> Model : <span th:text="${externalId}"></span> </h5></div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clinical / Patient</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Patient ID</dt><dd><span th:text="${fullData.age}"></span></dd>
                                    <dt>Gender</dt><dd><span th:text="${gender}"></span></dd>
                                    <dt>Age</dt><dd><span th:text="${age}"></span></dd>
                                    <dt>Race</dt><dd><span th:text="${race}"></span></dd>
                                    <dt>Ethnicity</dt><dd><span th:text="${ethnicity}"></span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clinical / Tumor</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Diagnosis</dt><dd><span th:text="${diagnosis}"></span></dd>
                                    <dt>Tumor type</dt><dd><span th:text="${tumorType}"></span></dd>
                                    <dt>Classification</dt><dd><span th:text="${classification}"></span></dd>
                                    <dt>Markers</dt><dd><span th:each="marker, iterStat : ${markers}" th:text="!${iterStat.last} ? ${marker} + ', ': ${marker}"></span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>




                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">PDX model creation</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Sample type</dt><dd><span th:text="${sampleType}"></span></dd>
                                    <dt>Strain</dt><dd><span th:text="${strain}"></span></dd>
                                    <dt>Mouse sex</dt><dd><span th:text="${mouseSex}"></span></dd>
                                    <dt>Engraftment site</dt><dd><span th:text="${engraftmentSite}"></span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">PDX model studies</h3>
                            </div>
                            <div class="panel-body">
                                <p>Coming soon...</p>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>





                <br/>
                <a class="btn btn-lg btn-success" th:href="${url}" th:text="${urlText}">
                    For more information please visit <i class="fa fa-external-link"></i></a>

            </div>
        </div>





    </div>



</div>
<!-- /.container -->

</body>
</html>