<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/customStyles.css"/>
    <title>PDX Finder</title>
    <!--/*/ <th:block th:include="fragments/head-includes :: head-includes"></th:block> /*/-->
</head>

<body class='err_body'>

<div class="err_wrap">
    <div class="err_logo">
        <p> OOPS! - searching for your page ... but can't find it</p>
        <img th:src="@{/images/404.png}" src="../../static/images/404.png">

        <div class="err_sub">
            <p><a href="#" th:href="@{/}"> Return Home </a></p>
        </div>
    </div>
</div>

<div class="err_footer">
    &#x24B8; 2017 <a href="#">PDX Finder</a>
</div>


</body>
</html>