<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/customStyles.css"/>
    <title>PDX Finder</title>
    <!--/*/ <th:block th:include="fragments/head-includes :: bootstrap"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/head-includes :: datatables"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/head-includes :: chart"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/head-includes :: general"></th:block> /*/-->
</head>

<body class='err_body'>

<div class="err_wrap">
    <div class="err_logo">
        <p> OOPS! - searching for your page ... but can't find it</p>
        <img th:src="@{/images/404.png}" src="../../static/images/404.png">

        <div class="err_sub">
            <!--<p><a href="#" th:href="/"> Return Home </a></p>-->
        </div>
    </div>
</div>

<div class="err_footer">
    &#x24B8; 2018 <a href="#">PDX Finder</a>
</div>

<script type="application/ld+json">

{
    "@context": "http://schema.org",
    "@type": "Dataset",
    "@id": "http://www.pdxfinder.org/",
    "url": "http://www.pdxfinder.org",
    "name": "PDX  Finder:  An  Open  and  Global  Catalogue  of  Patient  Tumor  Derived Xenograft  Models",
    "description": "PDX  Finder is  a  comprehensive  open  global  catalogue  of  PDX  models  and  their  associated  data  across  resources.  PDX  Finder allows  is using  multiple  search  and  filtering  attributes  (e.g:  tumor  histology,  molecular variant, drug-response). Critical PDX attributes are  harmonized against ontological terms and integrated  into  a  cohesive  data  model  which  supports  consistent  searching  across  sources. Additionally,  specific pages and links to the PDX providers are  provided  to  allow  users  to  contact  the  relevant  institution  for  further  collaboration/model  acquisition.This dataset contains all the PDX  metadata and data from different providers",
    "keywords": "PDX, Patient derived xenografts, cancer models, cancer, omic, drug response, oncology, preclinical",
    "creator": {"@type": "Organization","name": "PDX Finder"},
    "dateCreated": "2018",
    "dateModified": "2018",
    "citation": "https://doi.org/10.1101/291443",
}
</script>
</body>
</html>