<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:remove="all" rel="stylesheet" media="screen" href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <!--/*/ <th:block th:include="fragments/head-includes :: head-includes"></th:block> /*/-->
    <title>PDX Finder</title>
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>




<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-rounded center-block" src="../static/images/pdx_logo.png" th:src="@{/images/pdx_logo.png}" alt=""/>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-8">
            <h1>Welcome to the PDX finder</h1>
            <p>
                Patients-derived tumor xenograft <a href="#" data-toggle="modal" data-target="#pdx-modal" onclick="return false;">(PDX) mouse models</a>
                are an important oncology research platform to study
                tumor evolution, drug response and personalised medicine approaches. Global success of PDX models will
                depend on their collective distribution and usage worldwide by academic and private sectors. In order to
                facilitate PDX models discovery, <a href="http://www.ebi.ac.uk/about/people/terry-meehan">EMBL-EBI</a>
                and
                <a href="https://www.jax.org/research-and-faculty/research-labs/the-bult-lab">The Jackson Laboratory</a>
                are co-developing <strong>PDX finder</strong>.
            </p>
            <p>
                PDX finder is an open repository for the upload and storage of clinical,
                genomic and functional PDX data which will provide a comprehensive global catalogue of PDX models
                available for researchers across distributed repository databases. Using the newly developed
                <a href="#" data-toggle="modal" data-target="#mi-modal" onclick="return false;">PDX-Minimum
                    information standards</a>, PDX finder will integrate, standardize, analyze and
                visualize the complex and diverse data associated with PDX mouse models for the cancer community.
                Integrated views will be provided for histopathological image data, molecular classification of tumors,
                host mouse strain metadata, tumor genomic data and metrics on tumor response to chemotherapeutics.

            </p>
            <p>
                This work is supported by the National Institutes of Health U24 CA204781 01 and the National Cancer
                Institute MTB R01 R01CA089713.
            </p>

            <div id="pdx-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="PdxDescription"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">PDX mouse model creation</h3>
                        </div>
                        <div class="panel-body">
                        <div class="modal-body">

                            <img src="../static/images/pdx_mi_figure.png" th:src="@{/images/pdx_mi_figure.png}"
                                 class="img-responsive"/>
                            <p>
                                Schematic of the process for PDX model creation, expansion, and drug dosing studies. A
                                PDX model consists of an immunocompromised mouse into which human tumor material has
                                been implanted. Once the implanted tumor reaches a target volume at the initial passage
                                (P0), the tumor is excised, fractionated, and transplanted into the next cohort of mice
                                to establish the next passage. P0 and P1 tumors are subjected to various quality control
                                assays to ensure that the passaged tumors faithfully reflect the critical biological and
                                genomic properties of the patient tumor. Cohorts of tumor bearing mice are used in
                                experimental studies. Dosing studies are typically performed on low passage tumors
                                (P1-P4).
                            </p>

                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mi-modal" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">PDX-Minimum
                                information standards</h3>
                        </div>
                        <div class="panel-body">
                            <div class="modal-body">
                                <p>
                                    We identified critical attributes to accurately describe PDX production and usage
                                    and
                                    proposed the PDX-Minimum information (PDX-MI) standard, which defines the minimal
                                    information for describing the clinical attributes of a patient’s tumor, the
                                    processes
                                    of implantation and passaging of tumors in a host mouse strain, quality assurance
                                    methods, and the use PDX models in cancer research. PDX-MI standard is the result of
                                    the
                                    collaborative work from more than 50 worldwide experts over 30 worldwide
                                    institutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a th:href="@{/search}" class="btn btn-success btn-block text-center" href="#">Search for PDX models</a>
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->

    <hr/>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <h3>PDX finder contains data from the following sources</h3>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>JAX Data</h2>
            <p>Information about data from The Jackson Laboratory.</p>
            <a class="btn btn-default" href="http://tumor.informatics.jax.org/mtbwi/pdxSearch.do" target="_blank">More
                Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>EurOPDX Data</h2>
            <p>Information about data from The EurOPDX Consortium.</p>
            <a class="btn btn-default" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Enzo%20Medico%20EuroPDX"
               target="_blank">More Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
</script>

</body>
</html>