<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:remove="all" rel="stylesheet" media="screen"
          href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <!--/*/ <th:block th:include="fragments/head-includes :: head-includes"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-12">
            <h1>Search</h1>
            <p>Search for PDX models
            </p>
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->


</div>
<!-- /.container -->

</body>
</html>