<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Search - PDX Finder</title>
    <meta name="description" th:content="'Model details for PDX '+${modelId}+', produced by '+${dataSrc}"/>
    <meta name="keywords" th:content="'Patient Derived Xenograft, PDX, PDX Finder, Cancer, Oncology, Life Sciences'"/>
    <meta name="author" content="PDX Finder"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-16x16.png?v=1">
    <link rel="manifest" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/manifest.json?v=1">
    <link rel="mask-icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/safari-pinned-tab.svg?v=1"
          color="#0032a0">
    <link rel="shortcut icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon.ico?v=1">
    <meta name="apple-mobile-web-app-title" content="PDX Finder">
    <meta name="application-name" content="PDX Finder">
    <meta name="msapplication-config"
          content="https://ebiwd.github.io/pdx-visual-framework/images/favicons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#0032a0">

    <!-- Add information on the life cycle of this page -->
    <meta name="ebi:owner" content="PDX"/> <!-- Who should be contacted about changes -->
    <meta name="ebi:review-cycle" content="60"/> <!-- In days, how often should the content be reviewed -->
    <meta name="ebi:last-review" content="2017-11-14"/> <!-- The last time the content was reviewed -->
    <meta name="ebi:expiry" content="2018-01-20"/> <!-- When this content is no longer relevant -->


    <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css"
          type="text/css" media="all"/>

    <!-- Import Choice Library stylesheet-->
    <link rel="stylesheet"
          href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/styles/css/choices.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/multiple-select.css}">
    <!-- Use this CSS file for any custom styling -->
    <link rel="stylesheet" th:href="@{/css/customStyles.css}" type="text/css" media="all"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script th:src="@{/js/pdxFinder.autocomplete.js}"></script>
    <script src="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>

    <!-- end CSS-->

    <!--/*/ <th:block th:include="fragments/shared :: header"></th:block> /*/-->

</head>

<body class="level2">


<div content="content-wrapper">
    <div id="skip-to">
        <a href="#content">Skip to main content</a>
    </div>

    <div id="content">

        <!--/*/ <th:block th:include="fragments/shared :: menu"></th:block> /*/-->

        <!-- Suggested layout containers -->
        <section id="main-content-area" role="main">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs row">
                    <li><a href="/">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Search
                    </li>
                </ul>
            </nav>

            <!-- Search FORM Section -->
            <section>
                <form class="main-search icon-2">
                    <div class="row">
                        <fieldset>
                            <div class="margin-bottom-none small-collapse">
                                <!-- Large screen -->
                                <div class="columns small-2 small-push-2 margin-bottom-small padding-top-large hide-for-small-only">
                                    <!-- Enter your search here -->
                                </div>
                                <!-- Small screen-->
                                <div class="columns small-7 medium-push-2 small-push-3  margin-bottom-none search-text-wrapper show-for-small-only">
                                    <!-- Enter your search here -->
                                </div>

                                <div class="columns small-7 medium-push-2 small-push-3  margin-bottom-none search-text-wrapper">

                                    <select class="form-control" id="query" name="query" type="text" tabindex="2"
                                            th:if="${websearch.query == null || websearch.query == ''}"
                                            placeholder="Search (e.g., Melanoma)" multiple></select>

                                    <select class="form-control" id="query" name="query" type="text" tabindex="2"
                                            th:if="${websearch.query != null && websearch.query != ''}" multiple>

                                        <option th:if="${websearch.query != null && websearch.query != ''}" th:attr="selected='selected'"
                                                th:text="${websearch.query}"/>

                                    </select>

                                    <span class="form-error margin-top-small">
                        You need to enter a search query.
                    </span>
                                </div>
                                <div class="columns small-1 medium-push-2 small-push-3 margin-bottom-none ">
                                    <input id="search_submit"
                                           class="button icon icon-functional margin-bottom-none line-height8"
                                           tabindex="3" name="submit1" type="submit" value="1">
                                </div>
                                <!-- <input id="allebi" type="hidden" name="db" value="allebi" checked="checked" /> -->
                                <input type="hidden" name="requestFrom" value="ebi_index">
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="medium-push-4 small-push-3 small-8 small padding-top-medium">
                                &nbsp;
                            </div>
                        </fieldset>
                    </div>
                </form>
            </section>


            <!-- Search Result Message & Export Section -->
            <section class="row padding-vertical-30">
                <div class="columns medium-12">
                    <span th:if="${#strings.isEmpty(websearch.textSearchDescription)}">
                        PDX Finder contains <span th:text="${websearch.totalResults}">a number of</span> model<span
                            th:if="${websearch.totalResults ne 1}">s</span>
                    </span>
                    <span th:unless="${#strings.isEmpty(websearch.textSearchDescription)}">
                        <span th:remove="tag" th:utext="${websearch.textSearchDescription}">Viewing results</span>
                    </span>
                </div>

            </section>


            <!-- Search Result and Filter Section -->
            <section class="row expanded padding-right-large padding-left-large">

                <div class="columns medium-3">
                    <h4 class="block-title clearfix"><span class="float-left">Filter By:</span></h4>

                    <ul class="accordion pdx-accordion-1" data-accordion data-multi-expand="true"
                        data-allow-all-closed="true">


                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Patient / Tumor</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="cancer_system_filter">
                                        <a href="#" class="accordion-title">Cancer by system</a>


                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item"
                                                     th:each="instance:${websearch.facetOptions['cancer_system_options']}">
                                                    <input th:id="'cancer_system__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="cancer_system filter"/>
                                                    <label th:attr="for='cancer_system__'+${#strings.replace(instance, ' ', '_')}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="tumor_type_filter">
                                        <a href="#" class="accordion-title">Tumor type</a>


                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item"
                                                     th:each="instance:${websearch.facetOptions['sample_tumor_type_options']}">
                                                    <input th:id="'sample_tumor_type__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="tumor_type filter"/>
                                                    <label th:attr="for='sample_tumor_type__'+${#strings.replace(instance, ' ', '_')}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="gender_filter">
                                        <a href="#" class="accordion-title">Sex</a>

                                        <div class="accordion-content" data-tab-content>
                                            <div class="large-form">
                                                <div class="checkbox-item"
                                                     th:each="instance:${websearch.facetOptions['patient_gender_options']}">
                                                    <input th:id="'patient_gender__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="gender filter"/>
                                                    <label th:attr="for='patient_gender__'+${#strings.replace(instance, ' ', '_')}">
                                                        <span th:text="${instance}"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="age_filter">
                                        <a href="#" class="accordion-title">Age</a>
                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item"
                                                     th:each="instance:${websearch.facetOptions['patient_age_options']}">
                                                    <input th:id="'patient_age__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="age filter"/>
                                                    <label th:attr="for='patient_age__'+${#strings.replace(instance, ' ', '_')}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </li>


                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">PDX model</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="datasource_filter">
                                        <a href="#" class="accordion-title">Datasource</a>
                                        <div class="accordion-content" data-tab-content>
                                            <div class="large-form">
                                                <div class="checkbox-item"
                                                     th:each="instance:${websearch.facetOptions['datasource_options']}">
                                                    <input th:id="'datasource__' + ${instance}" type="checkbox"
                                                           class="datasource filter"/>
                                                    <label th:attr="for='datasource__'+${instance}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                            </div>


                        </li>


                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title"> MOLECULAR CHARACTERIZATION </a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="marker_filter">
                                        <a href="#" class="accordion-title">Small Genetic Variation</a>
                                        <div class="accordion-content" data-tab-content>
                                            <div class="light-grey-bg-box">
                                                <div class="checkbox-item">

                                                    <span th:if="${#lists.isEmpty(param.mutation)}">
                                                        <div class="row topSace10">
                                                            <div class="columns nospace small-4 large-4 adjusti"> GENE </div>
                                                            <div class="columns nospace small-3 large-3 adjusti"> TYPE </div>
                                                            <div class="columns nospace small-5 large-5 adjusti"> VARIANT </div>
                                                        </div>
                                                        <div class="row topSace10">

                                                            <div class="columns nospace small-4 large-4"> <input
                                                                    type="text" id="geneFilter1"
                                                                    onblur="loadVariants(this,'1')" class="fullWidth"/> </div>
                                                            <div class="columns nospace small-3 large-3"> <input
                                                                    type="text" value="MUT" readonly="readonly"/></div>

                                                            <div id="filterOptions1"
                                                                 class="columns nospace small-5 large-5 topSpace3">
                                                                <select id='variantFilter1'
                                                                        multiple='multiple'> </select>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="row hidden"
                                                                 th:each="i: ${#numbers.sequence(2, 20)}"
                                                                 th:classappend="'geneticVar'+${i}">
                                                                <div class="columns nospace small-4 large-4">
                                                                    <input th:onblur="'loadVariants(this,'+${i}+')'"
                                                                           type="text" th:id="'geneFilter'+${i}"
                                                                           class="fullWidth"/>
                                                                </div>
                                                                <div class="columns nospace small-3 large-3"><input
                                                                        type="text" value="MUT"
                                                                        readonly="readonly"/></div>

                                                                <div th:id="'filterOptions'+${i}"
                                                                     class="columns nospace small-5 large-5 topSpace3">
                                                                    <select th:id="'variantFilter'+${i}"
                                                                            multiple='multiple'> </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </span>


                                                    <span th:if="${not #lists.isEmpty(param.mutation)}">
                                                            <div class="row topSace10">
                                                                <div class="columns nospace small-4 large-4 adjusti"> GENE </div>
                                                                <div class="columns nospace small-3 large-3 adjusti"> TYPE </div>
                                                                <div class="columns nospace small-5 large-5 adjusti"> VARIANT </div>
                                                            </div>
                                                        <span th:each="eachMarker,iter :${websearch.markerMapWithAllVariants}">
                                                            <div class="row large-12 medium-12 expanded topSace10"
                                                                 th:classappend="'geneticVar'+${iter.index+1}">

                                                                <div class="columns nospace small-4 large-4">
                                                                    <input th:value="${eachMarker.key}"
                                                                           th:onblur="'loadVariants(this,'+${iter.index+1}+')'"
                                                                           type="text"
                                                                           th:id="'geneFilter'+${iter.index+1}"
                                                                           class="fullWidth"/>
                                                                </div>
                                                                <div class="columns nospace small-3 large-3"><input
                                                                        type="text" value="MUT"
                                                                        readonly="readonly"/></div>

                                                                <div class="columns nospace small-5 large-5 topSpace3"
                                                                     th:id="'filterOptions'+${iter.index+1}">
                                                                    <select th:id="'variantFilter'+${iter.index+1}"
                                                                            class="width40" multiple='multiple'>

                                                                        <option th:each="variant :${eachMarker.value}"
                                                                                th:value="${variant}"
                                                                                th:text="${variant}"
                                                                                th:selected="( ${#lists.contains(websearch.markerMap.get(eachMarker.key), variant)} ) ? 'true' : 'false' "> ... </option>

                                                                    </select>
                                                                </div>


                                                            </div>

                                                        </span>



                                                        <span th:if="${not #lists.isEmpty(param.mutation)}">
                                                            <span th:each="i: ${#numbers.sequence(#maps.size(websearch.markerMap)+1, 20)}">

                                                                <div class="row hidden"
                                                                     th:classappend="'geneticVar'+${i}">
                                                                    <div class="columns nospace small-4 large-4">
                                                                        <input th:onblur="'loadVariants(this,'+${i}+')'"
                                                                               type="text" th:id="'geneFilter'+${i}"
                                                                               class="fullWidth"/>
                                                                    </div>
                                                                    <div class="columns nospace small-3 large-3"><input
                                                                            type="text" value="MUT"
                                                                            readonly="readonly"/></div>

                                                                    <div class="columns nospace small-5 large-5 topSpace3"
                                                                         th:id="'filterOptions'+${i}">
                                                                        <select th:id="'variantFilter'+${i}"
                                                                                multiple='multiple'> </select>
                                                                    </div>
                                                                </div>

                                                            </span>
                                                        </span>

                                                    </span>

                                                </div>


                                                <div class="checkbox-item height70px"
                                                     th:if="${#lists.isEmpty(param.mutation)}">
                                                    <button id="markerFilter" href="#"
                                                            class="button primary columns large-3 white-text-right-float topSpace4">
                                                        <i
                                                                class="icon icon-functional" data-icon="1"></i></button>
                                                    <button onclick="addMarkerAndVariants('OR',2)"
                                                            href="#" class="icoButn columns large-2"> OR
                                                    </button>
                                                </div>

                                                <div class="checkbox-item height70px"
                                                     th:if="${not #lists.isEmpty(param.mutation)}">
                                                    <button id="markerFilter" href="#"
                                                            class="button primary columns large-3 white-text-right-float topSpace4">
                                                        <i
                                                                class="icon icon-functional" data-icon="1"></i></button>
                                                    <button onclick="addMarkerAndVariants('OR',4)"
                                                            href="#" class="icoButn columns large-2"> OR
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>





                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title"> TREATMENT INFORMATION </a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="drug_filter">
                                        <a href="#" class="accordion-title"> Model Dosing Study </a>
                                        <div class="accordion-content" data-tab-content>
                                            <div class="light-grey-bg-box">
                                                <div class="checkbox-item">

                                                    <span th:if="${#lists.isEmpty(param.drug)}">
                                                        <div class="row topSace10">
                                                            <div class="columns nospace small-7 large-7 adjusti"> DRUG </div>
                                                            <div class="columns nospace small-5 large-5 adjusti"> RESPONSE </div>
                                                        </div>
                                                        <div class="row topSace10">

                                                            <div class="columns nospace small-7 large-7"> <input
                                                                    type="text" id="drugFilter1"
                                                                    onblur="loadDrugResponse(this,'1')" class="fullWidth"/> </div>
                                                            <div id="drugResponseOptions1"
                                                                 class="columns nospace small-5 large-5 topSpace3">
                                                                <select id='responseFilter1'
                                                                        multiple='multiple'> </select>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="row hidden"
                                                                 th:each="i: ${#numbers.sequence(2, 20)}"
                                                                 th:classappend="'dosingStudy'+${i}">
                                                                <div class="columns nospace small-7 large-7">
                                                                    <input th:onblur="'loadDrugResponse(this,'+${i}+')'"
                                                                           type="text" th:id="'drugFilter'+${i}"
                                                                           class="fullWidth"/>
                                                                </div>

                                                                <div th:id="'drugResponseOptions'+${i}"
                                                                     class="columns nospace small-5 large-5 topSpace3">
                                                                    <select th:id="'responseFilter'+${i}"
                                                                            multiple='multiple'> </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </span>


                                                    <span th:if="${not #lists.isEmpty(param.drug)}">
                                                            <div class="row topSace10">
                                                                <div class="columns nospace small-7 large-7 adjusti"> DRUG </div>
                                                                <div class="columns nospace small-5 large-5 adjusti"> RESPONSE </div>
                                                            </div>
                                                        <span th:each="eachDrug,iter :${websearch.drugMapWithAllResponses}">
                                                            <div class="row large-12 medium-12 expanded topSace10"
                                                                 th:classappend="'dosingStudy'+${iter.index+1}">

                                                                <div class="columns nospace small-7 large-7">
                                                                    <input th:value="${eachDrug.key}"
                                                                           th:onblur="'loadDrugResponse(this,'+${iter.index+1}+')'"
                                                                           type="text"
                                                                           th:id="'drugFilter'+${iter.index+1}"
                                                                           class="fullWidth"/>
                                                                </div>

                                                                <div class="columns nospace small-5 large-5 topSpace3"
                                                                     th:id="'filterOptions'+${iter.index+1}">
                                                                    <select th:id="'responseFilter'+${iter.index+1}"
                                                                            class="width40" multiple='multiple'>

                                                                        <option th:each="disResponse :${eachDrug.value}"
                                                                                th:value="${disResponse}"
                                                                                th:text="${disResponse}"
                                                                                th:selected="( ${#lists.contains(websearch.drugMap.get(eachDrug.key), disResponse)} ) ? 'true' : 'false' "> ... </option>

                                                                    </select>
                                                                </div>


                                                            </div>

                                                        </span>



                                                        <span th:if="${not #lists.isEmpty(param.drug)}">
                                                            <span th:each="i: ${#numbers.sequence(#maps.size(websearch.drugMap)+1, 20)}">

                                                                <div class="row hidden"
                                                                     th:classappend="'dosingStudy'+${i}">
                                                                    <div class="columns nospace small-7 large-7">
                                                                        <input th:onblur="'loadDrugResponse(this,'+${i}+')'"
                                                                               type="text" th:id="'drugFilter'+${i}"
                                                                               class="fullWidth"/>
                                                                    </div>

                                                                    <div class="columns nospace small-5 large-5 topSpace3"
                                                                         th:id="'filterOptions'+${i}">
                                                                        <select th:id="'responseFilter'+${i}"
                                                                                multiple='multiple'> </select>
                                                                    </div>
                                                                </div>

                                                            </span>
                                                        </span>

                                                    </span>

                                                </div>


                                                <div class="checkbox-item height70px"
                                                     th:if="${#lists.isEmpty(param.drug)}">
                                                    <button id="drugFilterButton" href="#"
                                                            class="button primary columns large-3 white-text-right-float topSpace4">
                                                        <i class="icon icon-functional" data-icon="1"></i></button>
                                                    <button onclick="addDrugAndResponse('OR',2)"
                                                            href="#" class="icoButn columns large-2"> OR
                                                    </button>
                                                </div>

                                                <div class="checkbox-item height70px"
                                                     th:if="${not #lists.isEmpty(param.drug)}">
                                                    <button id="drugFilterButton" href="#"
                                                            class="button primary columns large-3 white-text-right-float topSpace4">
                                                        <i class="icon icon-functional" data-icon="1"></i></button>
                                                    <button onclick="addDrugAndResponse('OR',4)"
                                                            href="#" class="icoButn columns large-2"> OR
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>




                    </ul>

                    <span th:each="instance:${websearch.diagnosisSelected}">
                        <input th:id="'diagnosis__' + ${#strings.replace(instance.name, ' ', '_')}" type="hidden"
                               class="diagnosis filter"/>
                    </span>


                </div>

                <div class="columns medium-9">


                    <div class="responsive-table">
                        <table id="search-datatable" class="stripe display datatable-pdx sticky-header" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Model</th>
                                <th>Histology</th>
                                <th>Primary site</th>
                                <th>Collection site</th>
                                <th>Type</th>
                                <th>Age</th>
                                <th>Sex</th>
                                <th th:if="${websearch.isMutationSelected} == false">Data Available</th>
                                <th th:if="${websearch.isMutationSelected} == true">Mutations</th>
                                <th th:if="${websearch.isMutationSelected} == true">Platform</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="model, iter : ${websearch.searchResults}">
                                <td><a th:text="${model.externalId}"
                                       th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}}"></a><br/><span
                                        class="small" th:text="${model.datasource}">center</span></td>
                                <td><span th:remove="tag" th:text="${model.mappedOntologyTerm}">ontology term</span>
                                </td>
                                <td th:text="${model.sampleOriginTissue}">origin tissue</td>
                                <td th:text="${model.sampleSampleSite}">sample site</td>
                                <td th:text="${model.sampleTumorType}">Metastatic</td>
                                <td th:text="${model.patientAge}">Age</td>
                                <td th:text="${model.patientGender}">Sex</td>

                                <td th:if="${websearch.isMutationSelected} == false">
                                    <th:block th:each="platform : ${model.dataAvailable}">

                                        <a th:if="${#strings.equals(platform, 'Dosing Studies')}"
                                           th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'#dosing_studies' }"
                                           class="size12" th:utext="${platform} + '<br />'">platform</a>

                                        <a th:if="${not #strings.equals(platform, 'Dosing Studies')}"
                                           th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'#variation' }"
                                           class="size12" th:utext="${platform} + '<br />'">platform</a>
                                    </th:block>
                                </td>

                                <td th:if="${websearch.isMutationSelected} == true">
                                    <th:block th:each="dMutations : ${websearch.mutationMap.get(model.externalId)}">
                                        <a th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'?marker='+${dMutations}+'#variation' }"
                                           class="size12" th:utext="${dMutations} + '<br />'">dMutations</a>
                                    </th:block>
                                </td>


                                <td th:if="${websearch.isMutationSelected} == true">
                                    <th:block th:each="platform : ${websearch.platformMap.get(model.externalId)}">

                                        <div th:if="${not #lists.isEmpty(websearch.platformsAndUrls[__${platform}__])}">
                                            <a th:href="${websearch.platformsAndUrls[__${platform}__]}" th:text="${platform}"
                                               class="size12"></a>
                                        </div>

                                        <div th:if="${#lists.isEmpty(websearch.platformsAndUrls[__${platform}__])}"
                                             th:text="${technology?.key}" class="size12">

                                        </div>

                                    </th:block>
                                </td>


                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="row topSpace50">

                        <div class="columns medium-8 small-6 padding-vertical-10">
                            <ul class="pagination pdx-pagination" role="navigation" aria-label="Pagination">
                                <li class="pagination-previous"
                                    th:classappend="${#strings.equals(websearch.page, '1')} ? 'disabled'">
                                    <span th:if="${#strings.equals(websearch.page, '1')}" aria-label="Previous page">First </span>
                                    <a th:unless="${#strings.equals(websearch.page, '1')}"
                                       th:href="'?' + ${websearch.facetString} + '&page=1'" aria-label="First page">First </a>
                                </li>

                                <li th:each="i: ${#numbers.sequence(websearch.beginIndex, websearch.endIndex)}"
                                    th:classappend="${i == websearch.page} ? 'current'">
                                    <a th:href="'?' + ${websearch.facetString} + '&page=' + ${i}" th:aria-label="'Page ' + ${i}"
                                       th:text="${i}">1</a>
                                </li>

                                <li class="pagination-next"
                                    th:classappend="${#strings.equals(websearch.page, #strings.toString(websearch.numPages))} ? 'disabled' ">
                                    <span th:if="${#strings.equals(websearch.page, #strings.toString(websearch.numPages))}"
                                          aria-label="Last page">Last </span>
                                    <a th:unless="${#strings.equals(websearch.page, #strings.toString(websearch.numPages))}"
                                       th:href="'?' + ${websearch.facetString} + '&page=' + ${numPages}" aria-label="Last page">Last </a>
                                </li>
                            </ul>
                        </div>

                        <div class="columns medium-4 small-6 text-right">
                            <a th:href="@{'/search/export' + '?' + ${websearch.facetString}}"
                               class="button outline secondary">Export Results <i class="icon icon-functional"
                                                                                  data-icon="="></i> </a>
                        </div>
                    </div>


                </div>
            </section>

        </section>
    </div>
    <!-- End suggested layout containers / #content -->

    <!--/*/ <th:block th:include="fragments/shared :: footer"></th:block> /*/-->

</div>


</div>


<!-- JavaScript -->
<script th:src="@{/js/sticky-header.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/scripts/dist/choices.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.highlightRegex/0.1.2/highlightRegex.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script th:src="@{/js/pdxFinder.js}"></script>
<script th:src="@{/js/multiple-select.js}"></script>



<script type="text/javascript" language="javascript" th:inline="javascript">
    var searchOptions = [[${websearch.autoCompleteOptions}]];
    var searchStates = [];
    for (var i = 0; i < searchOptions.length; i++) {
        searchStates.push(searchOptions[i].value);
    }
    var ageFilters = [[${websearch.patientAgeSelected}]];
    var dsFilters = [[${websearch.datasourceSelected}]];
    var cancerSystemFilters = [[${websearch.cancerSystemSelected}]];
    var sampleTumorTypeFilters = [[${websearch.sampleTumorTypeSelected}]];
    var genderFilters = [[${websearch.patientGenderSelected}]];
    var mutationFilters = [[${websearch.mutationSelected}]];
    function constructSearchOptions(data) {
        var newOptions = [];
        for (var i = 0; i < data.length; i++) {
            newOptions.push({'value': data[i], 'label': data[i], selected: false, disabled: false})
        }
        return newOptions;
    }
    // Test choices integration
    const mainSearch = new Choices('#query', {
        choices: constructSearchOptions(searchStates),
        removeItemButton: true,
        // placeholder: false,
        // placeholderValue: 'This is a placeholder',
        maxItemCount: 1,
        searchFloor: 0,
        searchResultLimit: 10,
        noResultsText: 'No results found',
        fuseOptions: {
            threshold: 0.1,
            // includeScore: true,
            // includeMatches: true, //doesn't do anything as it's not integrated :(
            tokenize: true,
            distance: 1000
        }
    });
    function conditionallyShowDropdown(str) {
        if (str.length < 1) {
            mainSearch.hideDropdown();
        } else {
            mainSearch.showDropdown();
        }
    }
    function regexEscape(str) {
        return str.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')
    }
    mainSearch.passedElement.addEventListener('showDropdown', function (event) {
        if (mainSearch.currentState.items.length) {
            if (mainSearch.currentState.items[mainSearch.currentState.items.length - 1].active) {
                // only show dropdown if something hasn't been selected
                mainSearch.hideDropdown();
                // hide placeholder text
                $('.main-search .choices__input').attr("placeholder", "  ");
                // $('.choices__input').hide();
            }
        } else {
            // show placeholder text
            $('.main-search .choices__input').attr("placeholder", "Search (e.g., Melanoma)");
            // show dropdown if nothing selected and a long enough string entered
            conditionallyShowDropdown(mainSearch.currentValue);
        }
    }, false);
    mainSearch.passedElement.addEventListener('search', function (event) {
        var currentSearch = mainSearch.currentValue;
        // highlight match, docs:
        // https://github.com/jbr/jQuery.highlightRegex
        $('.main-search .choices__list--dropdown').highlightRegex(); //clear
        $('.main-search .choices__list--dropdown').highlightRegex(new RegExp(regexEscape(currentSearch), 'ig'), {
            tagType: 'span',
            className: 'search-highlight'
        });
        conditionallyShowDropdown(currentSearch);
    }, false);
    mainSearch.passedElement.addEventListener('choice', function (event) {
        // Hide form after selecting an option
        mainSearch.hideDropdown();
        // hide placeholder text
        $('.main-search .choices__input').attr("placeholder", "  ");
        // drop the parenthetical
        $('.main-search .choices__list .choices__item').text('test')
        // To autosubmit on select
        // $('form.main-search').submit();
    }, false);
    mainSearch.passedElement.addEventListener('removeItem', function (event) {
        // show placeholder text
        $('.main-search .choices__input').attr("placeholder", "Search (e.g., Melanoma)");
    }, false);
    mainSearch.passedElement.addEventListener('addItem', function (event) {
        jQuery("form.main-search").submit();
    }, false);
    console.log("before updating");

    jQuery(document).ready(function () {
        updateFilters(ageFilters, genderFilters, cancerSystemFilters, dsFilters, sampleTumorTypeFilters);
        console.log("updated");
        //Add eventlistener to fields with filter class
        jQuery('.filter').change(function () {
            redirectPage();
        });
        //Add eventlistener to fields with filter class
        jQuery('#markerFilter').click(function () {
            redirectPage();
        });
        jQuery('#drugFilterButton').click(function () {
            redirectPage();
        });
        //Add eventlistener to search field's button
        jQuery('#search_submit').click(function () {
            redirectPage();
        });
    });

    var incomingString = [[${websearch.mutatedMarkersAndVariants}]];
    var mutatedMarkersAndVariants = JSON.parse(incomingString);
    var drugsList = [[${websearch.drugNames}]];
    var drugResponseList = [[${websearch.drugResponses}]];

    jQuery(document).ready(function () {

        loadGeneTextFields();
        loadDrugTextFields();

        $('#variantFilter1').change(function () {
            console.log($(this).val());
        }).multipleSelect({
            placeholder: "Variants"
        });
        for (var i = 2; i <= 20; i++) {
            $('#variantFilter' + i).change(function () {
                console.log($(this).val());
            }).multipleSelect({
                placeholder: "Variants"
            });
        }


        $('#responseFilter1').change(function () {
            console.log($(this).val());
        }).multipleSelect({
            placeholder: "Responses"
        });
        for (var i = 2; i <= 20; i++) {
            $('#responseFilter' + i).change(function () {
                console.log($(this).val());
            }).multipleSelect({
                placeholder: "Responses"
            });
        }
    });

</script>

</body>
</html>