<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>PDX Finder - Search</title>
    <meta name="description" content="PDX Finder"/><!-- Describe what this page is about -->
    <meta name="keywords" content="Framework, Life Sciences"/>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
    <meta name="author" content="PDX Finder"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="180x180"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon-16x16.png?v=1">
    <link rel="manifest" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/manifest.json?v=1">
    <link rel="mask-icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/safari-pinned-tab.svg?v=1"
          color="#0032a0">
    <link rel="shortcut icon" href="https://ebiwd.github.io/pdx-visual-framework/images/favicons/favicon.ico?v=1">
    <meta name="apple-mobile-web-app-title" content="PDX Finder">
    <meta name="application-name" content="PDX Finder">
    <meta name="msapplication-config"
          content="https://ebiwd.github.io/pdx-visual-framework/images/favicons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#0032a0">
    <!-- Add information on the life cycle of this page -->
    <meta name="ebi:owner" content="PDX"/> <!-- Who should be contacted about changes -->
    <meta name="ebi:review-cycle" content="60"/> <!-- In days, how often should the content be reviewed -->
    <meta name="ebi:last-review" content="2017-11-14"/> <!-- The last time the content was reviewed -->
    <meta name="ebi:expiry" content="2018-01-20"/> <!-- When this content is no longer relevant -->

    <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
    <!-- <link rel="dns-prefetch" href="//www.ebi.ac.uk" /> -->

    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->

    <!-- <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" /> -->
    <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css"
          type="text/css" media="all"/>
    <!-- Import Choice Library stylesheet-->
    <link rel="stylesheet"
          href="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/styles/css/choices.min.css">
    <!-- Use this CSS file for any custom styling -->
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/customStyles.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/icons/set-operations/css/set-operations.css}">
    <link rel="stylesheet" th:href="@{/css/multiple-select.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script th:src="@{/js/pdxFinder.autocomplete.js}"></script>

    <!-- If you have a custom header image or colour -->
    <!--
    <meta name="ebi:masthead-color" content="#000" />
    <meta name="ebi:masthead-image" content="//www.ebi.ac.uk/web_guidelines/EBI-Framework/images/backgrounds/embl-ebi-background.jpg" />
    -->

    <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
    <!-- also inform ES so we can host your colour palette file -->
    <!-- <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/theme-embl-petrol.css" type="text/css" media="all" /> -->
    <!-- end CSS-->
    <style>
        .tooltip {
            max-width: none;
        }
        table.pdx-table thead th {
            font-size: 1.0rem;
        }
        table.pdx-table td {
            font-size: 1.0rem;
        }
        h4 {
            font-size: 1.0rem;
        }
        ul.pdx-accordion-1 a.accordion-title {
            font-size: 1.0rem;
        }
        ul.pdx-accordion-2 a.accordion-title {
            font-size: 0.95rem;
        }
        span.selected {
            color: #06369d;
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        // IE JavaScript Bugs: Overriding Internet Explorer’s document.getElementById() To Be W3C Compliant Exposes An Additional Bug In getAttributes()
        if (/msie/i.test (navigator.userAgent)) //only override IE
        {
            document.nativeGetElementById = document.getElementById;
            document.getElementById = function(id)
            {
                var elem = document.nativeGetElementById(id);
                if(elem)
                {
                    //make sure that it is a valid match on id
                    if(elem.id == id)
                    {
                        return elem;
                    }
                    else
                    {
                        //otherwise find the correct element
                        for(var i=1;i<document.all[id].length;i++)
                        {
                            if(document.all[id][i].id == id)
                            {
                                return document.all[id][i];
                            }
                        }
                    }
                }
                return null;
            };
        }
    </script>
</head>

<body class="level2"><!-- add any of your classes or IDs -->



<div content="content-wrapper">
    <div id="skip-to">
        <a href="#content">Skip to main content</a>
    </div>

    <div id="content">

        <!--/*/ <th:block th:include="fragments/shared :: menu"></th:block> /*/-->

        <!-- Suggested layout containers -->
        <section id="main-content-area" role="main">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs row">
                    <li><a href="/">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Search
                    </li>
                </ul>
            </nav>

            <!-- Search FORM Section -->
            <section>
                <form class="main-search icon-2">
                    <div class="row">
                        <fieldset>
                            <div class="margin-bottom-none small-collapse">
                                <!-- Large screen -->
                                <div class="columns small-2 small-push-2 margin-bottom-small padding-top-large hide-for-small-only">
                                    <!-- Enter your search here -->
                                </div>
                                <!-- Small screen-->
                                <div class="columns small-7 medium-push-2 small-push-3  margin-bottom-none search-text-wrapper show-for-small-only">
                                    <!-- Enter your search here -->
                                </div>

                                <div class="columns small-7 medium-push-2 small-push-3  margin-bottom-none search-text-wrapper">

                                    <select class="form-control" id="query" name="query" type="text" tabindex="2"
                                            th:if="${query == null || query == ''}"
                                            placeholder="Search (e.g., Melanoma)" multiple></select>

                                    <select class="form-control" id="query" name="query" type="text" tabindex="2"  th:if="${query != null && query != ''}" multiple>

                                        <option th:if="${query != null && query != ''}" th:attr="selected='selected'" th:text="${query}"/>

                                    </select>

                                    <span class="form-error margin-top-small">
                        You need to enter a search query.
                    </span>
                                </div>
                                <div class="columns small-1 medium-push-2 small-push-3 margin-bottom-none ">
                                    <input id="search_submit" class="button icon icon-functional margin-bottom-none"
                                           tabindex="3" name="submit1" type="submit" value="1" style="line-height:.9">
                                </div>
                                <!-- <input id="allebi" type="hidden" name="db" value="allebi" checked="checked" /> -->
                                <input type="hidden" name="requestFrom" value="ebi_index">
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="medium-push-4 small-push-3 small-8 small padding-top-medium">
                                &nbsp;
                            </div>
                        </fieldset>
                    </div>
                </form>
            </section>


            <!-- Search Result Message & Export Section -->
            <section class="row padding-vertical-30">
                <div class="columns medium-12">
                    <span th:if="${#strings.isEmpty(text_search_desc)}">
                        PDX Finder contains <span th:text="${totalResults}">a number of</span> model<span th:if="${totalResults ne 1}">s</span>
                    </span>
                    <span th:unless="${#strings.isEmpty(text_search_desc)}">
                        <span th:remove="tag" th:utext="${text_search_desc}">Viewing results</span>
                    </span>
                </div>

            </section>





            <!-- Search Result and Filter Section -->
            <section class="row expanded padding-right-large padding-left-large">

                <div class="columns medium-3">
                    <h4 class="block-title clearfix"><span class="float-left">Filter By:</span></h4>

                    <ul class="accordion pdx-accordion-1" data-accordion data-multi-expand="true" data-allow-all-closed="true">


                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Patient / Tumor</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>



                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="cancer_system_filter">
                                        <a href="#" class="accordion-title">Cancer by system</a>


                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item" th:each="instance:${facet_options['cancer_system_options']}">
                                                    <input th:id="'cancer_system__' + ${#strings.replace(instance, ' ', '_')}" type="checkbox" class="cancer_system filter"/>
                                                    <label th:attr="for='cancer_system__'+${#strings.replace(instance, ' ', '_')}"><span th:text="${instance}"></span></label>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="tumor_type_filter">
                                        <a href="#" class="accordion-title">Tumor type</a>


                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item"
                                                     th:each="instance:${facet_options['sample_tumor_type_options']}">
                                                    <input th:id="'sample_tumor_type__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="tumor_type filter"/>
                                                    <label th:attr="for='sample_tumor_type__'+${#strings.replace(instance, ' ', '_')}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="gender_filter">
                                        <a href="#" class="accordion-title">Sex</a>

                                        <div class="accordion-content" data-tab-content>
                                            <div class="large-form">
                                                <div class="checkbox-item"
                                                     th:each="instance:${facet_options['patient_gender_options']}">
                                                    <input th:id="'patient_gender__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="gender filter"/>
                                                    <label th:attr="for='patient_gender__'+${#strings.replace(instance, ' ', '_')}">
                                                        <span th:text="${instance}"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true"
                                    data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="age_filter">
                                        <a href="#" class="accordion-title">Age</a>
                                        <div class="accordion-content" data-tab-content>

                                            <div class="large-form">

                                                <div class="checkbox-item"
                                                     th:each="instance:${facet_options['patient_age_options']}">
                                                    <input th:id="'patient_age__' + ${#strings.replace(instance, ' ', '_')}"
                                                           type="checkbox" class="age filter"/>
                                                    <label th:attr="for='patient_age__'+${#strings.replace(instance, ' ', '_')}"><span
                                                            th:text="${instance}"></span></label>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </li>



                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">PDX model</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>


                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="datasource_filter">
                                        <a href="#" class="accordion-title">Datasource</a>
                                        <div class="accordion-content" data-tab-content>
                                            <div class="large-form">
                                                <div class="checkbox-item" th:each="instance:${facet_options['datasource_options']}">
                                                    <input th:id="'datasource__' + ${instance}" type="checkbox" class="datasource filter"/>
                                                    <label th:attr="for='datasource__'+${instance}"><span th:text="${instance}"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                            </div>


                        </li>



                        <style>.hidden{display:none;}</style>

                        <style>.hidden{display:none;}</style>

                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title"> MOLECULAR CHARACTERIZATION </a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <ul class="accordion pdx-accordion-2" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                                    <li class="accordion-item" data-accordion-item id="marker_filter">
                                        <a href="#" class="accordion-title">Small Genetic Variation</a>
                                        <div class="accordion-content" data-tab-content>
                                            <div style="background-color: #f1f2f2; padding: 10px; position: relative;">
                                                <div class="checkbox-item">
                                                    <!--<div class="checkbox-item"><span class="black" style="font-size: 16px; font-weight: bold;">Genes</span></div> -->


                                                    <style>.columns .nospace{padding:1px;} .adjusti{ text-align: center; font-weight: bold;}</style>

                                                    <span th:if="${#lists.isEmpty(param.mutation)}">
                                                        <div class="row" style="margin-top: 10px;">
                                                            <div class="columns nospace small-4 large-4 adjusti"> GENE </div>
                                                            <div class="columns nospace small-3 large-3 adjusti"> TYPE </div>
                                                            <div class="columns nospace small-5 large-5 adjusti"> VARIANT </div>
                                                        </div>
                                                        <div class="row" style="margin-top: 10px;">

                                                            <div class="columns nospace small-4 large-4"> <input class="closIcon" type="text" id="geneFilter1" onblur="loadVariants(this,'1')" style="width:100%;"/> </div>
                                                            <div class="columns nospace small-3 large-3"> <input type="text" value="MUT" readonly="readonly"/></div>

                                                            <div id="filterOptions1" class="columns nospace small-5 large-5" style="margin-top: 3px;">
                                                                <select id='variantFilter1' multiple='multiple'> </select>
                                                            </div>

                                                            <!-- <button onclick="myTrigger('AND',2)" class="icoButn"  style="width: 20%;"> <i class="set set-intersect"></i> AND </button> -->
                                                            <!-- <button onclick="myTrigger('OR',2)" href="#" class="icoButn columns nospace large-2" > <i class="icon icon-functional" data-icon="+"></i> </button> -->
                                                        </div>
                                                        <div class="row">
                                                            <div class="row hidden" th:each="i: ${#numbers.sequence(2, 20)}" th:id="'geneticVar'+${i}">
                                                                <div class="columns nospace small-4 large-4">
                                                                    <input th:onblur="'loadVariants(this,'+${i}+')'" type="text" th:id="'geneFilter'+${i}" style="width:100%;"/>
                                                                </div>
                                                                <div class="columns nospace small-3 large-3"><input type="text" value="MUT" readonly="readonly"/></div>

                                                                <div th:id="'filterOptions'+${i}" class="columns nospace small-5 large-5" style="margin-top: 3px;">
                                                                    <select th:id="'variantFilter'+${i}" multiple='multiple'> </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </span>



                                                    <span th:if="${not #lists.isEmpty(param.mutation)}">
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="columns nospace small-4 large-4 adjusti"> GENE </div>
                                                                <div class="columns nospace small-3 large-3 adjusti"> TYPE </div>
                                                                <div class="columns nospace small-5 large-5 adjusti"> VARIANT </div>
                                                            </div>
                                                        <span th:each="eachMarker,iter :${markerMapWithAllVariants}">
                                                            <div class="row large-12 medium-12 expanded" th:id="'geneticVar'+${iter.index+1}"  style="margin-top: 10px;"><!-- th:style="( ${iter.index} == 0 ) ? 'margin-top: 10px' : 'margin-top: -10px' " -->

                                                                <div class="columns nospace small-4 large-4">
                                                                    <input th:value="${eachMarker.key}" th:onblur="'loadVariants(this,'+${iter.index+1}+')'" type="text" th:id="'geneFilter'+${iter.index+1}"  style="width:100%;"/>
                                                                </div>
                                                                <div class="columns nospace small-3 large-3"><input type="text" value="MUT" readonly="readonly"/></div>

                                                                <div class="columns nospace small-5 large-5" style="margin-top: 3px;" th:id="'filterOptions'+${iter.index+1}">
                                                                    <select th:id="'variantFilter'+${iter.index+1}" style="width: 40%" multiple='multiple'>

                                                                        <option th:each="variant :${eachMarker.value}"
                                                                                th:value="${variant}"
                                                                                th:text="${variant}"
                                                                                th:selected="( ${#lists.contains(markerMap.get(eachMarker.key), variant)} ) ? 'true' : 'false' "> ... </option>

                                                                    </select>
                                                                </div>


                                                            </div>

                                                        </span>



                                                        <span th:if="${not #lists.isEmpty(param.mutation)}">
                                                            <span th:each="i: ${#numbers.sequence(#maps.size(markerMap)+1, 20)}">

                                                                <div class="row hidden" th:id="'geneticVar'+${i}">
                                                                    <div class="columns nospace small-4 large-4">
                                                                        <input th:onblur="'loadVariants(this,'+${i}+')'" type="text" th:id="'geneFilter'+${i}"  style="width:100%;"/>
                                                                    </div>
                                                                    <div class="columns nospace small-3 large-3"><input type="text" value="MUT" readonly="readonly"/></div>

                                                                    <div class="columns nospace small-5 large-5" style="margin-top: 3px;" th:id="'filterOptions'+${i}">
                                                                        <select th:id="'variantFilter'+${i}" multiple='multiple'> </select>
                                                                    </div>
                                                                </div>

                                                            </span>
                                                        </span>

                                                    </span>

                                                </div>


                                                <div class="checkbox-item" style="height: 70px;" th:if="${#lists.isEmpty(param.mutation)}">
                                                    <button id="markerFilter" href="#" class="button primary columns large-3" style="color: #fff; float:right;"> <i class="icon icon-functional" data-icon="1"></i> </button>
                                                    <!-- <button id="markerFilter" href="#" class="button outline columns large-3" style="color: #fff; float:right;"> <i class="icon icon-functional" data-icon="+"></i> </button> -->
                                                    <button style="margin-top: -1px;" onclick="myTrigger('OR',2)" href="#" class="icoButn columns large-2" > OR </button>
                                                </div>

                                                <div class="checkbox-item" style="height: 70px;" th:if="${not #lists.isEmpty(param.mutation)}">
                                                    <button id="markerFilter" href="#" class="button primary columns large-3" style="color: #fff; float:right;"> <i class="icon icon-functional" data-icon="1"></i> </button>
                                                    <!-- <button onclick="myTrigger('AND',4)" class="icoButn"  style="width: 20%;"> <i class="set set-intersect"></i> AND </button>  -->
                                                    <button style="margin-top: -1px;" onclick="myTrigger('OR',4)" href="#" class="icoButn columns large-2" > OR </button>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>



                        <!-- <div id='adda'><a class='md-fab md-fab-small' onclick=\"myTrigger('','','open')\"><i class='material-icons'>&#xE145;</i></a></div> -->

                        <!--<li class="accordion-item is-active" data-accordion-item>-->
                        <!--&lt;!&ndash; Accordion tab title &ndash;&gt;-->
                        <!--<a href="#" class="accordion-title">Molecular characterization</a>-->

                        <!--&lt;!&ndash; Accordion tab content: it would start in the open state due to using the `is-active` state class. &ndash;&gt;-->
                        <!--<div class="accordion-content" data-tab-content>-->
                        <!--<select name="molchar" required id="molchar" class="form-control choices" multiple>-->

                        <!--</select>-->
                        <!--</div>-->
                        <!--</li>-->


                    </ul>

                    <span th:each="instance:${diagnosis_selected}">
                        <input th:id="'diagnosis__' + ${#strings.replace(instance.name, ' ', '_')}" type="hidden"
                               class="diagnosis filter"/>
                    </span>


                </div>

                <div class="columns medium-9">
                    <div class="">
                        <table class="unstriped pdx-table">
                            <thead>
                            <tr>
                                <th>Model</th>
                                <th>Histology</th>
                                <th>Primary site</th>
                                <th>Collection site</th>
                                <th>Type</th>
                                <th>Age</th>
                                <th>Sex</th>
                                <th th:if="${isMutationSelected} == false">Data Available</th> <th th:if="${isMutationSelected} == true">Platform</th>
                                <th th:if="${isMutationSelected} == true">Mutations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="model, iter : ${results}">
                                <td><a th:text="${model.externalId}"
                                       th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}}"></a><br/><span
                                        class="small" th:text="${model.datasource}">center</span></td>
                                <td><span th:remove="tag" th:text="${model.mappedOntologyTerm}">ontology term</span>
                                </td>
                                <td th:text="${model.sampleOriginTissue}">origin tissue</td>
                                <td th:text="${model.sampleSampleSite}">sample site</td>
                                <td th:text="${model.sampleTumorType}">Metastatic</td>
                                <td th:text="${model.patientAge}">Age</td>
                                <td th:text="${model.patientGender}">Sex</td>

                                <td th:if="${isMutationSelected} == false">
                                    <th:block th:each="platform : ${model.dataAvailable}">

                                        <a th:if="${#strings.equals(platform, 'Dosing Studies')}" th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'#dosing_studies' }"
                                           style="font-size: 12px;" th:utext="${platform} + '<br />'">platform</a>

                                        <a th:if="${not #strings.equals(platform, 'Dosing Studies')}" th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'#variation' }"
                                           style="font-size: 12px;" th:utext="${platform} + '<br />'">platform</a>
                                    </th:block>
                                </td>

                                <td th:if="${isMutationSelected} == true">
                                    <th:block th:each="platform : ${platformMap.get(model.externalId)}">
                                        <a th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'#variation' }"
                                           style="font-size: 12px;" th:utext="${platform} + '<br />'">platform</a>
                                    </th:block>
                                </td>

                                <td th:if="${isMutationSelected} == true">
                                    <th:block th:each="dMutations : ${mutationMap.get(model.externalId)}">
                                        <a th:href="@{'/pdx/'+${model.datasource}+'/'+${model.externalId}+'?marker='+${dMutations}+'#variation' }"
                                           style="font-size: 12px;" th:utext="${dMutations} + '<br />'">dMutations</a>
                                    </th:block>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="row">

                        <div class="columns medium-8 small-6 padding-vertical-10">
                            <ul class="pagination pdx-pagination" role="navigation" aria-label="Pagination">
                                <li class="pagination-previous"
                                    th:classappend="${#strings.equals(page, '1')} ? 'disabled'">
                                    <span th:if="${#strings.equals(page, '1')}" aria-label="Previous page">First </span>
                                    <a th:unless="${#strings.equals(page, '1')}"
                                       th:href="'?' + ${facets_string} + '&page=1'" aria-label="First page">First </a>
                                </li>

                                <li th:each="i: ${#numbers.sequence(beginIndex, endIndex)}"
                                    th:classappend="${i == page} ? 'current'">
                                    <a th:href="'?' + ${facets_string} + '&page=' + ${i}" th:aria-label="'Page ' + ${i}"
                                       th:text="${i}">1</a>
                                </li>

                                <li class="pagination-next"
                                    th:classappend="${#strings.equals(page, #strings.toString(numPages))} ? 'disabled' ">
                                    <span th:if="${#strings.equals(page, #strings.toString(numPages))}"
                                          aria-label="Last page">Last </span>
                                    <a th:unless="${#strings.equals(page, #strings.toString(numPages))}"
                                       th:href="'?' + ${facets_string} + '&page=' + ${numPages}" aria-label="Last page">Last </a>
                                </li>
                            </ul>
                        </div>

                        <div class="columns medium-4 small-6 text-right">
                            <a th:href="@{'/search/export' + '?' + ${facets_string}}"
                               class="button outline secondary large">Export Results <i class="icon icon-functional" data-icon="="></i> </a>
                        </div>
                    </div>


                </div>
            </section>

        </section>
        <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
        <!--
        <footer id="local-footer" class="local-footer" role="local-footer">
          <div class="row">
            <span class="reference">How to reference this page: ...</span>
          </div>
        </footer>
        -->
        <!-- End optional local footer -->
    </div>
    <!-- End suggested layout containers / #content -->


    <!--/*/ <th:block th:include="fragments/shared :: footer"></th:block> /*/-->

</div>
<!-- JavaScript -->


</div>
<!-- JavaScript -->
<script src="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/libraries/Choices/assets/scripts/dist/choices.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.highlightRegex/0.1.2/highlightRegex.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script th:src="@{/js/pdxFinder.js}"></script>


<script type="text/javascript" language="javascript" th:inline="javascript">
    var searchOptions = [[ ${autoCompleteList} ]];
    var searchStates = [];
    for(var i=0; i<searchOptions.length;i++){
        searchStates.push(searchOptions[i].value);
    }
    var ageFilters = [[${patient_age_selected}]];
    var dsFilters = [[${datasource_selected}]];
    var cancerSystemFilters = [[${cancer_system_selected}]];
    var sampleTumorTypeFilters = [[${sample_tumor_type_selected}]];
    var genderFilters = [[${patient_gender_selected}]];
    var mutationFilters = [[${mutations_selected}]];
    function constructSearchOptions(data) {
        var newOptions = [];
        for (var i = 0; i < data.length; i++) {
            newOptions.push({'value':data[i],'label':data[i],selected: false,disabled: false})
        }
        return newOptions;
    }
    // Test choices integration
    const mainSearch = new Choices('#query', {
        choices: constructSearchOptions(searchStates),
        removeItemButton: true,
        // placeholder: false,
        // placeholderValue: 'This is a placeholder',
        maxItemCount: 1,
        searchFloor: 0,
        searchResultLimit: 10,
        noResultsText: 'No results found',
        fuseOptions: {
            threshold: 0.1,
            // includeScore: true,
            // includeMatches: true, //doesn't do anything as it's not integrated :(
            tokenize: true,
            distance: 1000
        }
    });
    function conditionallyShowDropdown(str) {
        if (str.length < 1) {
            mainSearch.hideDropdown();
        } else {
            mainSearch.showDropdown();
        }
    }
    function regexEscape(str) {
        return str.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')
    }
    mainSearch.passedElement.addEventListener('showDropdown', function(event) {
        if (mainSearch.currentState.items.length) {
            if (mainSearch.currentState.items[mainSearch.currentState.items.length-1].active) {
                // only show dropdown if something hasn't been selected
                mainSearch.hideDropdown();
                // hide placeholder text
                $('.main-search .choices__input').attr("placeholder","  ");
                // $('.choices__input').hide();
            }
        } else {
            // show placeholder text
            $('.main-search .choices__input').attr("placeholder", "Search (e.g., Melanoma)");
            // show dropdown if nothing selected and a long enough string entered
            conditionallyShowDropdown(mainSearch.currentValue);
        }
    }, false);
    mainSearch.passedElement.addEventListener('search', function(event) {
        var currentSearch = mainSearch.currentValue;
        // highlight match, docs:
        // https://github.com/jbr/jQuery.highlightRegex
        $('.main-search .choices__list--dropdown').highlightRegex(); //clear
        $('.main-search .choices__list--dropdown').highlightRegex(new RegExp(regexEscape(currentSearch),'ig'), {
            tagType:   'span',
            className: 'search-highlight'
        });
        conditionallyShowDropdown(currentSearch);
    }, false);
    mainSearch.passedElement.addEventListener('choice', function(event) {
        // Hide form after selecting an option
        mainSearch.hideDropdown();
        // hide placeholder text
        $('.main-search .choices__input').attr("placeholder","  ");
        // drop the parenthetical
        $('.main-search .choices__list .choices__item').text('test')
        // To autosubmit on select
        // $('form.main-search').submit();
    }, false);
    mainSearch.passedElement.addEventListener('removeItem', function(event) {
        // show placeholder text
        $('.main-search .choices__input').attr("placeholder", "Search (e.g., Melanoma)");
    }, false);
    mainSearch.passedElement.addEventListener('addItem', function(event) {
        jQuery("form.main-search").submit();
    }, false);
    console.log("before updating");
    jQuery(document).ready(function() {
        updateFilters(ageFilters, genderFilters, cancerSystemFilters, dsFilters, sampleTumorTypeFilters);
        console.log("updated");
        //Add eventlistener to fields with filter class
        jQuery('.filter').change( function(){
            redirectPage();
        });
        //Add eventlistener to fields with filter class
        jQuery('#markerFilter').click( function(){
            redirectPage();
        });
        //Add eventlistener to search field's button
        jQuery('#search_submit').click( function(){
            redirectPage();
        });
    });
</script>

<script>
    /*
        const choices = new Choices('#query', {
            silent: false,
            items: ["Alpha", "Bravo", "Charlie"],
            choices: [],
            loadingText: 'Loading...',
            noResultsText: 'No results found'
        });
    */
</script>




<script type="text/javascript" language="javascript" th:inline="javascript">
    var incomingString = [[ ${mutatedMarkersAndVariants} ]];
    var mutatedMarkersAndVariants = JSON.parse(incomingString);
    /* var mutatedMarkersAndVariants = {  "USP25" : [ "T1033M" ], "USP26" : [ "L362W" ],"USP20" : [ "D505Y", "P49A" ]} */
    var keysAreMarkers = Object.keys(mutatedMarkersAndVariants);
    $('#geneFilter1').autocomplete({
        source:[keysAreMarkers]
    });
    for (var i=2; i<=20; i++){
        $('#geneFilter'+i).autocomplete({
            source:[keysAreMarkers]
        });
    }
    // Open the Molchar Filter if needed
    var urlParams = new URLSearchParams(window.location.search);
    var dURLString = urlParams.toString();
    var openMarkerFacet = dURLString.search("mutation");
    if (openMarkerFacet != -1) {
        var markerFilterField = jQuery("li#marker_filter > a.accordion-title");
        markerFilterField.click();
    }
    function getVariantSize(selectedMarker) {
        var valuesAreVariants = mutatedMarkersAndVariants[selectedMarker];
        return valuesAreVariants;
    }
    function loadVariants(selectedMarker,compNumber) {
        var marker = selectedMarker.value;
        var valuesAreVariants = mutatedMarkersAndVariants[selectedMarker.value].sort();
        //alert(marker+"\n"+typeof valuesAreVariants);
        var newOptions = "";
        for (var i=0; i<valuesAreVariants.length; i++){
            newOptions += "<option value='"+valuesAreVariants[i]+"' selected>"+valuesAreVariants[i]+"</option>";
        }
        var select = $('#variantFilter'+compNumber);
        select.empty().append(newOptions);
        $(function() {
            $('#variantFilter'+compNumber).change(function() {
                console.log($(this).val());
            }).multipleSelect({
                placeholder: " variants"
            });
        });
    }
    var geneticVar = 1;
    var counter = 1;

    function myTrigger(param,startIndex){
        if (startIndex != 2 && counter == 1){
            geneticVar = startIndex;
        }
        geneticVar++;
        counter++;
        for (var i=startIndex; i<=20; i++){
            if ((param=='AND'||param=='OR') && geneticVar == i){
                $("#geneticVar"+i).show();
            }
        }
    }
</script>

<script th:src="@{/js/multiple-select.js}"></script>
<script>
    $(function() {
        $('#variantFilter1').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            placeholder: "Variants"
        });
        for (var i=2; i<=20; i++){
            $('#variantFilter'+i).change(function() {
                console.log($(this).val());
            }).multipleSelect({
                placeholder: "Variants"
            });
        }
    });
</script>

<!-- <script src="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script> -->
<!-- <script type="text/JavaScript">$(document).foundationExtendEBI();</script> -->

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<!-- <script type="text/javascript">!function(e,a,n,t,i,o,c){e.GoogleAnalyticsObject=i,e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date,o=a.createElement(n),c=a.getElementsByTagName(n)[0],o.async=1,o.src="//www.google-analytics.com/analytics.js",c.parentNode.insertBefore(o,c)}(window,document,"script",0,"ga"),ga("create","UA-629242-1",{cookieDomain:"auto"}),ga("require","linkid","linkid.js"),ga("set","anonymizeIp",!0),ga("send","pageview");</script> -->
</body>
</html>