<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-flatly/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

</head>
<body>

<div th:fragment="footer">

    <footer class="footer">

        <div class="container">

            <div>
                <p>PDX integrator &copy; 2016</p>
                <p class="footer-links">
                    <a href="#">Home</a> ·
                    <a href="#">Blog</a> ·
                    <a href="#">About</a> ·
                    <a href="#">Faq</a> ·
                    <a href="#">Contact</a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-github-square"></i></a>
                </p>

            </div>

        </div>


    </footer>
</div>

</body>
</html>