<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootswatch-flatly/css/bootstrap.min.css}"
          href="//cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/pdxfinder.css}" href="../../static/css/pdxfinder.css" rel="stylesheet" media="screen"/>
    <title>PDX Finder</title>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/search}"><img th:src="@{/images/pdx_logo.png}"
                                                                               width="20"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/search}">Search</a></li>
                        <li><a href="#" th:href="@{/contact}">Contact</a></li>
                        <li><a href="#" th:href="@{/api}">API</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" th:action="@{/search}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Search"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                                    aria-hidden="true"></span> Search</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>
</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100003949-1', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>