<div class="wrapper wrapper-content animated bounceIn">
  <div class="p-w-md m-t-sm container">

    <div class="row" style="margin-top:-20px;">


      <div class="col-lg-12">
        <div class="pdxfinder float-e-margins">
          <div class="pdxfinder-content" >


            <div>
              <span class="pull-right text-right">
                <small>PDX Finder contains more than 800 PDX models from : <strong>JAX and IRCC</strong></small>
                <br/>All Models: 162,862
              </span>
              <h3 class="font-bold no-margins">
                PDX Finder cancer by tissue
              </h3>
              <small>From all data sources.</small>
            </div>

            <div class="m-t-sm">

              <div class="row" style="margin-top:-10px;">
                <div class="col-md-8">
                  <div id="chartdiv" style="width: 100%; height:280px;"></div>
                </div>
                <div class="col-md-4" style="margin-top:20px;">
                  <ul class="stat-list m-t-lg">
                    <li>
                      <h3 class="no-margins">2,346</h3>
                        <small>IRCC PDX Mouse Data </small>
                        <div class="progress progress-mini">
                          <div class="progress-bar progress-bar-danger" style="width: 30%;"></div>
                        </div>
                    </li>
                    <li>
                      <h3 class="no-margins ">4,422</h3>
                        <small>JAX PDX Mouse Data</small>
                        <div class="progress progress-mini">
                          <div class="progress-bar progress-bar-info" style="width: 60%;"></div>
                        </div>
                    </li>
                    <li>
                      <h3 class="no-margins ">4,422</h3>
                        <small>PDX Search last month</small>
                        <div class="progress progress-mini">
                          <div class="progress-bar" style="width: 80%;"></div>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="m-t-md">
              <small class="pull-right">
                <i class="ti-timer"></i>
                Updated on 30.07.2017
              </small>
              <small>
                <strong> PDX report summary :</strong> The report has been changed over time, and last month reached a level over 50,000 counts
              </small>
            </div>

          </div>
        </div>
      </div>

    </div>





    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <a routerLink="/curation"> <img src="assets/icons/zoomaa.png" class="icon"> </a>
            <div class='text-navy pdx-singleLine'> CURATION MAPPINGS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/vms.png" class="icon">
            <div class='text-navy pdx-singleLine'> RAW DATA </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/Jira2.png" class="icon">
            <div class='text-navy pdx-singleLine'> PDXFinder JIRA </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/Reports-icon.png" class="icon">
            <div class='text-navy pdx-singleLine'> REPORTS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/SOPs.png" class="icon">
            <div class='text-navy pdx-singleLine'> SOPs & METHODS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/finder.png" class="icon">
            <div class='text-navy pdx-singleLine'> FINDER </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/03-app.jpg" class="icon">
            <div class='text-navy pdx-singleLine'> GITHUB </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/contact.png" class="icon">
            <div class='text-navy pdx-singleLine'> COMMUNITY CONTACTS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/SOPs.png" class="icon">
            <div class='text-navy pdx-singleLine'> SOPs & METHODS </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/finder.png" class="icon">
            <div class='text-navy pdx-singleLine'> FINDER </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/03-app.jpg" class="icon">
            <div class='text-navy pdx-singleLine'> GITHUB </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="pdxfinder">
          <div class="pdxfinder-content" style="padding-bottom:10px;">
            <img src="assets/icons/contact.png" class="icon">
            <div class='text-navy pdx-singleLine'> COMMUNITY CONTACTS </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>


