<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2> {{dataSource | uppercase}} {{mappingStatusToGet | titlecase}} {{entityType | titlecase}} Summary</h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="/dashboard">...</a>
            </li>
            <li>
                <a routerLink="/curation">Curation Mappings</a>
            </li>
            <li>
                <a routerLink="/{{'curation/'+entityTypeUrl}}"> All {{entityType | titlecase}} Summaries </a>
            </li>
            <li class="active"> {{dataSource | uppercase}} </li>
        </ol>
    </div>
</div>



<div *ngIf="showNotif" class="top-notif col-lg-3 animated fadeInRight">
    <h3> {{selectedSrc | uppercase}} {{selectedEntityType | uppercase}}
        <span (click)="toggleNotification(false)" class='close'></span>
    </h3>

    <p style="margin-top: 7px;">
        {{selectedDetails}}
    </p>

    <div class="form-group" style="margin-top: -10px;">
        <label> Insert Mapped Term : </label>
        <input (click)="ontologySuggest(entityType)" type="text" placeholder="Search OLS" class="autocomplete android" [(ngModel)]="autoSuggestTextBox">
    </div>


    <ul *ngIf="selectedURL" class="list-group clear-list m-t-n-sm" style="margin-top: 10px;">
        <li class="list-group-item fist-item">
            <a class="pull-right" href="{{olsUrl+selectedURL}}" target="_blank"> {{selectedURL}} </a> <strong> URL </strong>
        </li>
        <li class="list-group-item fist-item">
            <span class="pull-right"> Manual Curation </span> <strong> Justification </strong>
        </li>
        <li class="list-group-item fist-item">
            <span class="pull-right"> Inferred </span> <strong> Map Type </strong>
        </li>
    </ul>

    <a *ngIf="!olsTermSelected" (click)="updateSkippedTerm()" class="btn btn-primary btn-sm btn-outline ">
        <i class="ti-control-skip-forward"></i> &nbsp; Skip this Term
    </a>

    <!--
    <button class="btn btn-primary btn-circle " type="button" (click)="updateSkippedTerm()"> <i class="ti-control-skip-forward"></i> </button> -->
    <!--
    <button class="btn btn-primary btn-sm" type="submit" (click)="updateSkippedTerm()"> Skip Term </button>
     <button class="btn btn-outline btn-default btn-sm" (click)="toggleNotification(false)"> Close </button> *ngIf="!submitted"  -->
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="p-w-md m-t-sm col-lg-10 col-lg-offset-1">

        <div class="row" style="margin-top: -10px;">

            <div class="col-lg-12" *ngIf="dataExists">

                <form #mappingForm="ngForm" (ngSubmit)="updateMappingEntity()" novalidate>
                    <div class="pdxfinder float-e-margins" style="border: 1px solid rgba(3, 54, 157, 1);">


                        <div class="pdxfinder-content pdxfinder-heading">
                            <h3><i class="ti-agenda"></i> <span style="color: #03369D"> {{dataSource | uppercase}}  </span> Mapping </h3>
                            <small><i class="fa fa-tim"></i> You have 70 unmapped ... and 16 orphaned ...</small>


                            <button *ngIf="report == null" style="float: right; margin-top:-30px;" class="btn btn-primary btn-sm" type="submit">
                                <i class="ti-cloud-up"></i> &nbsp; Submit Curation &nbsp;
                            </button>

                        </div>

                        <div class="pdxfinder-content">

                            <div *ngIf="report == 'success'" class="alert alert-success alert-dismissable">
                                <a aria-hidden="true" class="close" type="button" (click)="toggleReport('success')">×</a>
                                Success: <em>  The submitted curation was successful, Clear off notification to continue </em>  <a class="alert-link"> ... </a>.
                            </div>

                            <div *ngIf="report == 'failed'" class="alert alert-danger alert-dismissable">
                                <a aria-hidden="true" class="close" type="button" (click)="toggleReport(null)">×</a>
                                OOps!! <em> Failed Request: The submitted curation is invalid, Clear off notification to continue </em> <a class="alert-link"> ... </a>.
                            </div>

                            <div class="table-responsive">

                                <table class="table table-striped table-bordered table-hover pdx-table table-v1">
                                    <thead>
                                    <tr>
                                        <th style="width:10px;">ID</th>

                                        <th *ngFor="let columnHeader of columnHeaders ">
                                            {{columnHeader | uppercase}}
                                        </th>

                                        <th> MAPPED TERM</th>
                                        <th style="width:80px;"> TYPE</th>
                                        <th>JUSTIFICATION</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let mapping of mappings; index as i"
                                        [class.active]="mapping.entityId == selectedRow">

                                        <td class="pdxfinder-clickable-rows2"
                                            [routerLink]="['suggested-mapping',mapping.entityId ]"
                                            (click)="getClickedRow(mapping)">  {{mapping.entityId}} </td>

                                        <td class="pdxfinder-clickable-rows2"
                                            *ngFor="let dataLabel of dataLabels"
                                            [routerLink]="['suggested-mapping',mapping.entityId ]"
                                            (click)="getClickedRow(mapping)">

                                            <span *ngIf="dataLabel == 'DataSource'" class="clipText overflow-ellipsis"> {{ mapping.mappingValues[dataLabel] | uppercase }} </span>
                                            <span *ngIf="dataLabel != 'DataSource'" class="clipText overflow-ellipsis"> {{ mapping.mappingValues[dataLabel] }} </span>
                                        </td>

                                        <td><input type="text" name="{{'mappedTermLabel'+i}}" class="editableField"
                                                   [(ngModel)]="mapping.mappedTermLabel"
                                                   value="{{ mapping.mappedTermLabel }}" readonly>
                                        </td><!-- required
                                                   [class.is-invalid]="'mappedTermLabel'+i.invalid && 'mappedTerm'+i.dirty" -->

                                        <td><input type="text" name="{{'mapType'+i}}" class="editableField"
                                                   #curatorMapType
                                                   (input)="mapping.mapType=curatorMapType.value"
                                                   value="{{ mapping.mapType }}">
                                            <!--
                                                   required
                                                   [class.is-invalid]="'mapType'+i.invalid && 'mapType'+i.dirty" --></td>

                                        <td><input type="text" name="{{'justification'+i}}" class="editableField"
                                                   [(ngModel)]="mapping.justification"
                                                   value="{{ mapping.justification }}">
                                            <!--
                                                   required
                                                   [class.is-invalid]="'justification'+i.invalid && 'justification'+i.dirty"-->

                                            <input type="hidden" name="{{'mappedTermUrl'+i}}"
                                                   [(ngModel)]="mapping.mappedTermUrl"
                                                   value="{{ mapping.mappedTermUrl }}">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                                <ul class="pagination pagination-sm" style="margin-top:-3px; margin-bottom:0px;">

                                    <li [ngClass]="{'disabled': data.page == 1 }">
                                        <span *ngIf="data.page == 1"> First « </span>
                                        <a *ngIf="data.page != 1"
                                           [routerLink]="['../'+mappingStatusToGet+'-1']"> First « </a>
                                        <!--    href="/{{'curation/'+entityTypeUrl+'/'+dataSource+'/1'}}" -->
                                    </li>

                                    <li *ngFor="let count of pageRange " [ngClass]="{'active': data.page == count }">

                                        <a [routerLink]="['../'+mappingStatusToGet+'-'+count]"> {{count }} </a>
                                        <!--     href="/{{'curation/'+entityTypeUrl+'/'+dataSource+'/'+count}}" -->
                                    </li>


                                    <li [ngClass]="{'disabled': data.page == data.totaPages }">
                                        <span *ngIf="data.page == data.totaPages"> Last « </span>
                                        <a *ngIf="data.page != data.totaPages"
                                           [routerLink]="['../'+mappingStatusToGet+'-'+data.totaPages]"> Last
                                            « </a>  <!--  href="/{{'curation/'+entityTypeUrl+'/'+dataSource+'/'+data.totaPages}}"  -->
                                    </li>

                                </ul>


                                <div style="display: inline; width: 70px; margin-left: 5px; margin-top: -10px; float: right">
                                    <select class="form-control"  (change)="newPageSize($event.target.value)">

                                        <option *ngFor="let pageOption of pageOptions"
                                                [value]="pageOption"
                                                [selected]="pageOption == pageSize">
                                            {{pageOption}}
                                        </option>

                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>




            </div>
        </div>

    </div>
</div>


<!-- The Suggested Mappings Displayes here as a child route with deeplinked url  (click)="showSuggestedMappings(34)"  [disabled]="mappingForm.form.invalid || topicHasError"  -->
<router-outlet>

</router-outlet>

<!--
<th> SOURCE </th>
<th> DIAGNOSIS </th>
<th> TUMOR TYPE </th>
<th> PRIMARY TUMOR </th>
-->

<!-- ; {{ mapping.mappingValues.SampleDiagnosis | uppercase }}  <td> {{ mapping.mappingValues.SampleDiagnosis | uppercase }} </td>
 <td> {{ mapping.mappingValues.TumorType | uppercase }} </td>
 <td> {{ mapping.mappingValues.OriginTissue | uppercase }} </td> -->

<!-- <a [routerLink]="['../'+count]"> {{count }} </a>
<a [routerLink]="['../']" [queryParams]="{page: count}"  > {{count }} </a>    {{'curation/'+entityTypeUrl+'/'+dataSource}} +'?page='+count -->