<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-8">
        <h2> Mapped Data Validation </h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/curation">Curation </a>
            </li>
            <li class="active"> Validate Terms</li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="p-w-md m-t-sm col-lg-10 col-lg-offset-1">

        <div class="row" style="margin-top: -10px;">

            <div class="col-lg-12">

                <div class="pdxfinder float-e-margins">

                    <div class="pdxfinder-content pdxfinder-heading">
                        <h3> <i class="ti-files"></i>  Upload Validated File </h3>
                        <small><i class="fa fa-tim"></i> Ensure you upload CSV File of the required type only ...
                        </small>
                    </div>


                    <div class="pdxfinder-content">


                        <div *ngIf="report == 'success'" class="alert alert-success alert-dismissable">
                            <a aria-hidden="true" class="close" type="button"
                               (click)="toggleReport('success')">×</a>
                            Success: <em> The submitted curation was successful, Clear off notification to
                            continue </em> <a class="alert-link"> ... </a>.
                        </div>

                        <div *ngIf="report == 'failed'" class="alert alert-danger alert-dismissable">
                            <a aria-hidden="true" class="close" type="button" (click)="toggleReport(null)">×</a>
                            OOps!! <em> Failed Request: The uploaded data is invalid, Clear off notification to continue </em> <a class="alert-link"> ... </a>.
                        </div>


                        <div class="row sideFall">

                            <div class="col-sm-12">

                                <form role="form">

                                    <div class="form-group"><label> Validated CSV File</label>

                                        <label style='width:100%; cursor:pointer;'>

                                            <div id='output' class='styleFile'>
                                                <span *ngIf="report == null"> Click here to upload your File </span>
                                                <span *ngIf="report == 'waiting'">Waiting ... Click on upload button to send Data File:<b class="text-primary"> {{uploadedFilename}}</b> </span>
                                                <span *ngIf="report == 'success'"> File upload done! Click here to Upload another file </span>
                                                <span *ngIf="report == 'failed'" class="text-danger"> {{errorReport}} </span>
                                            </div>

                                            <input (change)="selectFile($event)"
                                                   type='file' id='uploads' style='display:none;'
                                                   accept='.csv,.xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'>
                                        </label>

                                    </div>

                                    <div>
                                        <button [disabled]="!selectedFiles"
                                                (click)="upload()"
                                                class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                            <strong> <i class="ti-cloud-up"></i> &nbsp; Upload File </strong>
                                        </button>

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>









                <div *ngIf="showCSV" class="pdxfinder float-e-margins" style="margin-top: -15px;">

                    <div class="pdxfinder-content pdxfinder-heading2">
                        <i class="ti-alert"></i> Please Ensure <b> {{uploadedFilename | uppercase }} </b> is a valid curated file ...
                    </div>

                    <div class="pdxfinder-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover pdx-table">
                                <thead>
                                <tr>
                                    <th *ngFor="let columnHeader of parsedCsvHead index as i">
                                        {{columnHeader | uppercase }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr *ngFor="let rowData of parsedCsvBody; index as i">

                                    <td *ngFor="let colData of rowData; index as i">

                                        <span *ngIf="!colData.includes('http')">  {{colData }}  </span>

                                        <a *ngIf="colData.includes('http')" href="{{colData}}"
                                           target="_blank">  {{colData}}  </a>

                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>





            </div>
        </div>

    </div>


</div>

