<div class="row border-bottom">

    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#" style="margin: 4px;"><i
                    class="ti-location-arrow" style="font-size: 25px;"></i></button>
        </div>


        <ul class="nav navbar-top-links navbar-right" style="margin-right: 50px; margin-top: 10px;">

            <button (click)="toggleSystemFont('plus')" class="btn btn-default btn-circle"><i class="ti-plus"
                                                                                             style="font-size: 16px;"></i>
            </button>
            <button (click)="toggleSystemFont('reset')" class="btn btn-default btn-circle"><i class="ti-target"
                                                                                              style="font-size: 16px;"></i>
            </button>
            <button (click)="toggleSystemFont('minus')" class="btn btn-default btn-circle"><i class="ti-minus"
                                                                                              style="font-size: 16px;"></i>
            </button>
        </ul>

    </nav>

</div>
