<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>

<body class="md-skin canvas-menu">
<div id="wrapper">

    <!-- Side Navigation menu here-->
    <!--/*/ <th:block th:replace="fragments/sidenav :: side-navigation-menu"></th:block>  /*/-->




    <div id="page-wrapper" class="gray-bg">

            <!-- Top Navigation Menu here  -->
            <!--/*/ <th:block th:replace="fragments/topnav :: top-navigation-menu"></th:block> /*/-->


            <div class="wrapper wrapper-content animated fadeIn">
            <div class="p-w-md m-t-sm container">




                <div class="row" style="margin-top:-20px;">


                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content" >


                                <div>
                                        <span class="pull-right text-right">
                                        <small>PDX Finder contains more than 800 PDX models from : <strong>JAX and IRCC</strong></small>
                                            <br/>
                                            All Models: 162,862
                                        </span>
                                    <h3 class="font-bold no-margins">
                                        PDX Finder cancer by tissue
                                    </h3>
                                    <small>From all data sources.</small>
                                </div>

                                <div class="m-t-sm">

                                    <div class="row" style="margin-top:-10px;">
                                        <div class="col-md-8">
                                            <div id="chartdiv" style="width: 100%; height:280px;"></div>
                                        </div>
                                        <div class="col-md-4" style="margin-top:20px;">
                                            <ul class="stat-list m-t-lg">

                                                <!--/*/ <th:block th:replace="fragments/components :: progressBar(num='2,346', desc='IRCC PDX Mouse Data', type='danger', size='30%')"></th:block> /*/-->

                                                <!--/*/ <th:block th:replace="fragments/components :: progressBar(num='4,422', desc='JAX PDX Mouse Data', type='info', size='36%')"></th:block> /*/-->

                                                <!--/*/ <th:block th:replace="fragments/components :: progressBar(num='2,912', desc='PDX Search last month', type='primary', size='80%')"></th:block> /*/-->

                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">
                                        <i class="fa fa-clock-o"> </i>
                                        Updated on 30.07.2017
                                    </small>
                                    <small>
                                        <strong> PDX report summary :</strong> The report has been changed over time, and last month reached a level over 50,000 counts
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>




                <div class="row">

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='ZOOMA MAPPINGS ' , image='zoomaa.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='RAW DATA' , image='vms.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='PDXFinder JIRA' , image='jira2.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='REPORTS' , image='Reports-icon.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='SOPs & METHODS' , image='SOPs.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='FINDER' , image='finder.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='GITHUB' , image='github.jpg', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='COMMUNITY CONTACTS' , image='contact.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='SOPs & METHODS' , image='SOPs.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='FINDER' , image='finder.png', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='GITHUB' , image='github.jpg', link='')"></th:block> /*/-->

                    <!--/*/ <th:block th:replace="fragments/components :: icons (title='COMMUNITY CONTACTS' , image='contact.png', link='')"></th:block> /*/-->

                </div>


            </div>
        </div>
    </div>

</div>



<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>