<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>

<body class="md-skin canvas-menu">
<div id="wrapper">

    <!-- Side Navigation menu here-->
    <!--/*/ <th:block th:replace="fragments/sidenav :: side-navigation-menu"></th:block>  /*/-->




    <div id="page-wrapper" class="gray-bg">

        <!-- Top Navigation Menu here  -->
        <!--/*/ <th:block th:replace="fragments/topnav :: top-navigation-menu"></th:block> /*/-->


        <div class="wrapper wrapper-content animated fadeIn">
            <div class="p-w-md m-t-sm container">




                <div class="row" style="margin-top:-20px;">
                    <div id="mappingTableDiv">



                    </div>

                </div>



            </div>
        </div>
    </div>

</div>



<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>