<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-8">
        <h2> Manage Ontology Mapped Data </h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/curation">Curation </a>
            </li>
            <li class="active"> Manage</li>
        </ol>
    </div>
</div>


<div *ngIf="showNotif" class="top-notif col-lg-3 animated fadeInRight">
    <h3> Filter Mapping Data
        <span (click)="toggleDisplay('details')" class='close'></span>
    </h3>
    <p> {{selectedDetails}}  </p>

    <!--<button class="btn btn-primary btn-sm" type="submit" type="button"><a href="" target="_blank"> Orphan </a></button>
    <button class="btn btn-outline btn-default btn-sm" (click)="toggleDisplay('details')"> Close</button> col-lg-offset-1 -->
</div>



<div class="wrapper wrapper-content animated fadeInRight">

    
    <div class="">

        <div class="row" style="margin-top: -10px;">
            
            <div class="col-lg-2-5" *ngIf="showFilter">


                <div class="pdxfinder float-e-margins">
                    <div class="pdxfinder-title">
                        <div style="margin-bottom: -10px;"><h5> FILTER BY: </h5></div>
                        <div class="pdxfinder-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="btn btn-primary btn-circle" (click)="toggleDisplay('filter')">
                                <i class="ti-close"></i>
                            </a>

                        </div>
                    </div>


                    <form #filterForm="ngForm" (ngSubmit)="searchFilter(filterForm)" novalidate>

                        <div class="pdxfinder">
                            <div class="pdxfinder-title">
                                <h5> DATA TYPES </h5>
                                <div class="pdxfinder-tools">
                                    <a class="collapse-link"> <i class="ti-angle-double-up"></i> </a>
                                </div>
                            </div>
                            <div class="pdxfinder-content no-padding">
                                <ul class="list-group">

                                    <li class="list-group-item" *ngFor="let dataType of dataTypes">

                                        <input (change)="searchFilter(filterForm)" type="checkbox" value="{{dataType.id}}" [(ngModel)]="dataType.checked" [name]="dataType.text" id="{{dataType.text}}" />
                                        <label for="{{dataType.text}}"> {{dataType.text | titlecase}}</label>

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="pdxfinder mu--15">
                            <div class="pdxfinder-title">
                                <h5> CURATION STATUS </h5>
                                <div class="pdxfinder-tools">
                                    <a class="collapse-link"> <i class="ti-angle-double-up"></i> </a>
                                </div>
                            </div>
                            <div class="pdxfinder-content no-padding">
                                <ul class="list-group">

                                    <li class="list-group-item" *ngFor="let status of statusList">

                                        <input (change)="searchFilter(filterForm)"  type="checkbox" value="{{status.id}}" [(ngModel)]="status.checked" [name]="status.text" id="{{status.text}}" />
                                        <label for="{{status.text}}"> {{status.text | titlecase}}</label>

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="pdxfinder mu--15">
                            <div class="pdxfinder-title">
                                <h5> CURATION STATUS </h5>
                                <div class="pdxfinder-tools">
                                    <a class="collapse-link"> <i class="ti-angle-double-up"></i> </a>
                                </div>
                            </div>

                            <div class="pdxfinder-content no-padding">
                                <ul class="list-group">

                                    <li class="list-group-item" *ngFor="let item of providersList2">

                                        <input (change)="searchFilter(filterForm)" type="checkbox" value="{{item.id}}" [(ngModel)]="item.checked" [name]="item.text" id="{{item.text}}" />
                                        <label for="{{item.text}}"> {{item.text | uppercase}}</label>

                                    </li>

                                </ul>
                            </div>

                        </div>

                        <!--
                        <div class="pdxfinder">

                            <div class="pdxfinder-content">
                                <div class="row">
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs mr-15" type="submit">
                                        <strong> Search </strong>
                                    </button>
                                </div>
                            </div>

                        </div> -->



                        <!--
                        <div class="pdxfinder-content">
                            

                            <div class="form-group">
                                <select name="type" [(ngModel)]="entityType" class="select2_demo_3 form-control">

                                    <option *ngFor="let dataType of dataTypes"
                                            [value]="dataType"
                                            [selected]="dataType == entityType">
                                        {{dataType | uppercase}}
                                    </option>
                                </select>

                            </div>


                            <div class="form-group">
                                <select name="status" [(ngModel)]="mappingStatus" class="select2_demo_3 form-control">

                                    <option value="" selected> CURATION STATUS</option>
                                    <option *ngFor="let dStatus of statusList"
                                            [value]="dStatus"
                                            [selected]="dStatus == mappingStatus">
                                        {{dStatus | uppercase}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select name="source"  [(ngModel)]="dataSource" class="select2_demo_3 form-control">

                                    <option *ngFor="let provider of providersList"
                                            [value]="provider"
                                            [selected]="provider == dataSource">
                                        {{provider | uppercase}}
                                    </option>
                                </select>
                            </div>

                            <option value="" selected> CURATION STATUS</option>
                            <div class="form-group">
                                <label>Data Source</label>
                                <input type="email" placeholder="Enter email" class="form-control"></div>

                            <div class="form-group">
                                <label>Data Status</label>

                        </div> -->

                    </form>


                </div>
            </div>



            <div [ngClass]="{'col-lg-9': showFilter == true }" *ngIf="dataExists" [style.width]="showFilter == true ? '79.1666666667%' : '100%'">

                <form #mappingForm="ngForm" *ngIf="!submitted" novalidate>
                    <div class="pdxfinder float-e-margins">

                        <div class="pdxfinder-title">
                            <h5> Manage / Export / Download Curated Data</h5>
                            <div class="pdxfinder-tools">


                               <!-- <button (click)="toggle(true)"
                                        class="btn btn-primary btn-circle" type="button"><i class="ti-export"></i>
                                </button>
                                <button (click)="toggle(true)"
                                        class="btn btn-primary btn-circle" type="button"><i class="ti-download"></i>
                                </button>-->

                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle ">
                                        <i class="ti-export"></i> &nbsp; Download Data <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a (click)="exportCSV()"> Download CSV</a></li>

                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="pdxfinder-content pdxfinder-heading">
                            <h3><i class="ti-settings"></i> Export Curated Data </h3>
                            <small><i class="fa fa-tim"></i> Manage and download unvalidated mappings and others ...
                            </small>
                        </div>


                        <div class="pdxfinder-content">


                            <div class="table-responsive">

                                <table class="table table-striped table-bordered table-hover pdx-table">
                                    <thead>
                                    <tr>
                                        <th style="width:10px;">ID</th>

                                        <th *ngFor="let columnHeader of columnHeaders ">
                                            {{columnHeader | uppercase}}
                                        </th>

                                        <th> MAPPED TERM</th>
                                        <th style="width:80px;"> TYPE</th>
                                        <th>JUSTIFICATION</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="pdxfinder-clickable-rows2" *ngFor="let mapping of mappings; index as i"
                                        [class.active]="mapping.entityId == selectedRow">

                                        <td> {{mapping.entityId}} </td>

                                        <td *ngFor="let dataLabel of dataLabels ">

                                            <span *ngIf="dataLabel == 'DataSource'"
                                                  class="clipText overflow-ellipsis"> {{ mapping.mappingValues[dataLabel] | uppercase }} </span>
                                            <span *ngIf="dataLabel != 'DataSource'"
                                                  class="clipText overflow-ellipsis"> {{ mapping.mappingValues[dataLabel] | titlecase }} </span>

                                        </td>

                                        <td>
                                            <span class="clipText overflow-ellipsis"> {{ mapping.mappedTermLabel | titlecase }} </span>
                                        </td>

                                        <td>
                                            <span class="clipText overflow-ellipsis"> {{ mapping.mapType | titlecase }} </span>
                                        </td>

                                        <td>
                                            <span class="clipText overflow-ellipsis"> {{ mapping.justification | titlecase }} </span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>

                                <ul class="pagination pagination-sm" style="margin-top:-3px; margin-bottom:0px;">

                                    <li [ngClass]="{'disabled': data.page == 1 }">
                                        <span *ngIf="data.page == 1"> First << </span>

                                        <a *ngIf="data.page != 1"
                                           [routerLink]="['/curation/manage']" [queryParams]="{page: 1, size: pageSize, type: entityType, status : mappingStatus, source: dataSource}"> First << </a>

                                    </li>

                                    <li *ngFor="let count of pageRange " [ngClass]="{'active': data.page == count }" >

                                        <a [routerLink]="['/curation/manage']" [queryParams]="{page: count, size: pageSize, type: entityType, status : mappingStatus, source: dataSource}"> {{count }} </a>
                                    </li>


                                    <li [ngClass]="{'disabled': data.page == data.totaPages }">
                                        <span *ngIf="data.page == data.totaPages"> Last >> </span>
                                        <a *ngIf="data.page != data.totaPages"
                                           [routerLink]="['/curation/manage']" [queryParams]="{page: data.totaPages, size: pageSize, type: entityType, status : mappingStatus, source: dataSource}"  > Last
                                        >> </a>


                                    </li>


                                </ul>


                                <div style="display: inline; width: 70px; margin-left: 5px; margin-top: -10px; float: right">
                                    <select class="form-control" (change)="newPageSize($event.target.value)">

                                        <option *ngFor="let pageOption of pageOptions"
                                                [value]="pageOption"
                                                [selected]="pageOption == pageOptionSize">
                                            {{pageOption}}
                                        </option>

                                    </select>
                                </div>

                            </div>


                        </div>
                    </div>

                </form>


            </div>
        </div>

    </div>
</div>

<div class="fabs" *ngIf="!showFilter">
    <!--<a target="_blank" class="fab"></a>
    <a target="_blank" class="fab"></a>
    <a target="_blank" class="fab" style="padding-bottom: 15px;"> <i class="ti-filter" style="font-size: 45px;"></i> </a> -->
    <a id="prime" class="fab"
       (click)="toggleDisplay('filter')">
        <i class="ti-filter" style="font-size: 30px;"></i>
    </a>
</div>

