<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PDX Finder Admin Curator</title>
</head>
<body>

            <!--    ICONS COMPONENT -->
            <div th:fragment="icons(title, image, link)" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">

                <div class="ibox">
                    <div class="ibox-content" style="padding-bottom:10px;">
                        <a href="#" th:href="${link}" > <img th:src="'images/icons/' + ${image}" class="icon"> </a>
                        <div class='text-navy pdx-singleLine' th:text="${title}"> RAW DATA </div>
                    </div>
                </div>
            </div>



            <!-- PROGRESS BAR COMPONENT -->
            <li th:fragment="progressBar(num, desc, type, size)">
                <h3 class="no-margins" th:text="${num}"> ... </h3>
                <small th:text="${desc}"> ... </small>
                <div class="progress progress-mini">
                    <div class="progress-bar" th:classappend="'progress-bar-'+ ${type}" th:style="'width:'+ ${size}">></div>
                </div>
            </li>



</body>
</html>