
.container-fluid {
    padding-left: auto;
    padding-right: auto;
    width:65%;
}

.fillUp {
    text-align: justify;
}

.shiftUp5 {
    margin-top: -5px;
}

.shiftUp20 {
    margin-top: -20px;
}

.shiftUp60 {
    margin-top: -60px;
}

.shiftUp100 {
    margin-top: -100px;
}


.topSpace5 {
    margin-top: 5px;
}

.topSpace50 {
    margin-top: 50px;
}

.topSpace100 {
    margin-top: 100px;
}

.fullImg{
    width:100%;
    margin-top: 12px;
}

.fullWidth{
    width:100%;
}

.pdxSummary{
    background-color: #fff;
    border: 1px dashed #ccc;
    padding: 15px;
    margin-top: -15px;
}

.pdxSummary hr {
    margin-top: 4px;
    background-color: #fff;
    border-top: 1px dashed #ccc;
}

.pdxSummary ul li {
    font-size: 13px;
}

.paddedBorder{
    border: 1px solid #ccc;
    padding: 12px;
}

.paddedBorder2{
    border: 1px solid #ccc;
    padding: 24px;
}

.form-control{
    height:37px;
    padding:6px 15px;
    font-size:12px;
    border-radius:3px;
}

.btn{
    height:37px;
    padding:6px 15px;
    font-size:12px;
    border-radius:3px;
}

hr {
    margin-top: 4px;
    background-color: #fff;
    border-top: 2px dashed #ccc;
}

h4{
    font-weight: bold;
    font-size: 16px;
}

h5{
    font-weight: bold;
    font-size: 14px;
}

.materialF {
    padding:8px;
    padding-left: 0px;
    display:block;
    border:none;
    border-bottom:1px solid #333;
    width:100%
}

.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover
{color:#fff!important;background-color:#607d8b!important}

.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-button
{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}










