
.container-fluid {
    padding-left: auto;
    padding-right: auto;
    width:65%;
}

.fillUp {
    text-align: justify;
}

.shiftUp100 {
    margin-top: -100px;
}
.shiftUp20 {
    margin-top: -20px;
}

.topSpace50 {
    margin-top: 50px;
}

.fullImg{
    width:100%;
    margin-top: 12px;
/*    background-color: #fff;
    border: 1px dashed #ddd; */
}

.pdxSummary{
    background-color: #fff;
    border-bottom: 1px dashed #ccc;
    padding: 15px;
    margin-top: -15px;
}

.pdxSummary hr {
    margin-top: 4px;
    background-color: #fff;
    border-top: 1px dashed #ccc;
}

.pdxSummary ul li {
    font-size: 13px;
}

.paddedBorder{
    border: 1px solid #ccc;
    padding: 12px;
}

.paddedBorder2{
    border: 1px solid #ccc;
    padding: 24px;
}

.form-control{
    height:37px;
    padding:6px 15px;
    font-size:12px;
    border-radius:3px;
}

.btn{
    height:37px;
    padding:6px 15px;
    font-size:12px;
    border-radius:3px;
}

hr {
    margin-top: 4px;
    background-color: #fff;
    border-top: 2px dashed #ccc;
}

h4{
    font-weight: bold;
    font-size: 16px;
}

h5{
    font-weight: bold;
    font-size: 14px;
}
