
body {
    padding-top: 50px;
}
h1 a {
    color: #FCA205;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 96px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 96px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0 15px 96px 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.footer-icons {
    font-size: 20px;
}

.dataTables_info, .dataTables_length,  .dataTables_filter, .dataTables_paginate {
    padding: 0 15px 0 15px;
}

