<!-- Side Navigation menu here-->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <a class="close-canvas-menu"><i class="ti-close" style="color: #ffffff;"></i></a>


    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
                <img alt="image" class="img-circle" src="/assets/icons/user.jpg" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs">
                  <strong class="font-bold" style="color:#efefef;">Nathalie Conte</strong>
                  </span>
                  </span>
          </a>
        </div>
        <div class="logo-element">
          PDX+
        </div>
      </li>

      <li> <a routerLink="/dashboard"><i class="ti-dashboard"></i> <span class="nav-label"> &nbsp; Dashboard </span></a> </li>
      <li class="active">
        <a href="#"><i class="ti-menu-alt"></i> <span class="nav-label"> &nbsp; Tool Box</span> </a>
        <ul class="nav nav-second-level">
            <li><a routerLink="/curation" class="active">Curation Mappings</a></li>
            <li><a routerLink="/diagnosis-mapping" class="active">Diagnosis Mappings</a></li>
          <!--<li><a href="#">PDX Finder Jira <span class="label label-primary pull-right">8</span></a></li>
          <li><a href="#">Raw Data <span class="label label-primary pull-right">2</span></a></li>
          <li><a href="#">Reports </a></li>
          <li><a href="#">SOPs & Methods </a></li>
          <li><a href="#">Finder </a></li>
          <li><a href="#">Github </a></li>
          <li><a href="#">Community Contacts </a></li>-->
        </ul>
      </li>

      <li>
        <a href="#"><i class="ti-server"></i> <span class="nav-label"> &nbsp; Web Server </span> </a>
        <ul class="nav nav-second-level">
            <li><a href="http://ves-ebi-bc.ebi.ac.uk" target="_blank" class="active"> Dev Webapp </a></li>
            <li><a href="http://ves-ebi-b4.ebi.ac.uk" target="_blank" class="active"> Beta Webapp </a></li>
            <li><a href="http://wp-p1m-b0.ebi.ac.uk" target="_blank" class="active"> Production Webapp 1 </a></li>
            <li><a href="http://wp-p1m-b0.ebi.ac.uk" target="_blank" class="active"> Production Webapp 2 </a></li>
        </ul>
      </li>
      <li> <a href="#"><i class="ti-harddrive"></i> <span class="nav-label"> &nbsp; Manage IRCC Data</span></a> </li>
      <li> <a href="#"><i class="ti-harddrive"></i>  <span class="nav-label"> &nbsp; Manage JAX Data</span></a> </li>


      <li class="pdxFinderActive2">
        <a target="_blank" href="http://www.pdxfinder.org"><i class="ti-tablet"></i>  <span class="nav-label"> &nbsp; PDX Finder Website</span> </a>
      </li>
      <li class="pdxFinderActive">
        <a target="_blank" href="http://ves-ebi-bc.ebi.ac.uk:7474/browser"><i class="ti-harddrives"></i>  <span class="nav-label"> &nbsp; Neo4j Database</span></a>
      </li>
    </ul>



  </div>
</nav>






